@media only screen and (max-width: 1920px) {
  /*1920X1080px*/
  .blob {
    width: 50%;
    height: fit-content;
    position: absolute;
    right: -6%;
    top: -12.5vw ;
    z-index: -1;
  }

  .slideshow-container {
    top: 3.5%;
  }
}

@media only screen and (max-width: 1536px) {
  /*1536X864px*/
  .blob {
    width: 50%;
    height: fit-content;
    position: absolute;
    right: -10%;
    top: -9.2vw !important;
    z-index: -1;
  }

  .slideshow-container {
    right: -4%;
  }
}

@media only screen and (max-width: 1440px) {
  /*1440X900px*/
  .blob {
    width: 50%;
    height: fit-content;
    position: absolute;
    right: -10%;
    top: -6vw !important;
    z-index: -1;
  }

  .slideshow-container {
    right: -4%;
  }
}

@media only screen and (max-width: 1366px) {
  /*1366X768px*/

  .blob {
    width: 50%;
    height: fit-content;
    position: absolute;
    right: -7%;
    top: -14.1vw !important;
    z-index: -1;
  }

  .slideshow-container {
    right: -1%;
  }
}

@media only screen and (max-width: 1280px) {
  /*1280X720px*/

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vw;
    position: fixed;
    z-index: 20;
  }

  .logo_container .mobile_logo {
    display: block;
  }

  .slideshow-container {
    top: 4.5%;
    right: -5%;
  }

  .blob {
    top: -15% !important;
    right: -11%;
  }
}

@media only screen and (max-width: 1024px) {
  

  #nav {
    display: none;
  }

  .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 3vw;
    font-size: 4vw;
    transition: 0.5s;
    z-index: 999;
  }
   

  #nav_mob {
    width: 45%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -47%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #f85a11;
    box-shadow: -6px 0px 6px 1px rgba(254, 239, 231, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav_mob.active {
    right: 0;
  }

  #nav_mob .link2 {
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
  }


  #burger.active {
    background-color: transparent;
  }
  #burger.active .ri-menu-5-fill {
    color: #080708;
    background-color: transparent;
  }

  .link2 .nav_li a {
    font-size: 4vw;
    text-align: center;
  }


  .nav_ul {
    margin-left: 0;
    padding: 1.8vw 10vw;
  }

  /* .logo_container {
    background-color: rgba(8, 7, 8,0.6);
  } */


  .diagonal_trapezium {
    top: 0;
    width: 100%;
    clip-path: none;
    height: 55%;
  }

  .hero_section {
    flex-direction: column;
  }

  .blob {
    display: none;
  }

  .slideshow-container {
    position: relative;
    top: 11%;
    left: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #080708;

  }

  .img1 {
    margin: 0;
  }

  .img2 {
    margin-left: -3.8vw;
    margin-top: 0.8vw;
  }

  .hero_text_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero_heading {
    text-align: center;
  }

  .place_order {
    align-self: center;
    font-size: 2vw;
  }

  .min_order {
    width: 40%;
    font-size: 2vw;
  }

  .how_to_order {
    height: auto;
    padding-top: 15vw;
  }

  .how_to_heading {
    font-size: 3vw;
  }

 .order_process_wrapper {
  flex-wrap: wrap;
 }

 .order_process {
  align-items: start;
  padding-top: 0;
  padding-bottom: 0;
 }

 .process_heading {
  font-size: 2.6vw;
  text-align: start;
 }

 .process_para {
  font-size: 2vw;
  width: 80%;
  height: fit-content;
 }

 .menu_heading {
  font-size: 3vw;
 }

 .order_request {
  font-size: 2.5vw;
  line-height: 1.5;
 }

 .idli_section {
  flex-direction: column;
  height: auto;
 }

 .half_idli {
  width: 100%;
  height: auto;
  clip-path: none;
  position: relative;
  padding-top: 15vw;
  padding-bottom: 5vw;
 }

 .idli_content_heading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
 }

 .idli_pieces_box {
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
 }

 .price_box {
  width: 100%;
 }

 .tablet_font {
  font-size: 2.2vw;
 }

 .idli_anchor {
  padding: 1.5vw;
 }

 .right_half_idli {
  height: auto;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
 }

 .right_half_idli img {
  margin-top: 0;
  margin:  0 auto;
 }

 .idli_picture {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: #080708;
  position: absolute;
  z-index: -1;
 }

 .wada_section {
  flex-direction: column;
  height: auto;
 }

 .half_wada {
  order: 2;
  width: 100%;
  height: auto;
  clip-path: none;
  position: relative;
 }

 .right_half_wada {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 4vw;
 }

 .wada_content_heading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  padding: 0;
 }
 .wada_pieces_box {
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
 }

 .wada_anchor {
  padding: 1.5vw;
 }

 .half_wada img {
  margin: 0;
 }

}

@media only screen and (max-height: 600px) {
  .hero_section {
    height: 125vh;
  }
}
