{% load static %}



<footer class="footer_section" id="contact">
  <div class="section_wrapper footer_wrapper">
      <div class="footer_upper">
          <div class="footer_upper_left">
              <figure class="logo">
                  <img src="{% static 'img/main-logo.svg' %}" alt="The South Indian Plate logo.">
              </figure>
              <p class="footer_upper_left_para">
                  Premium quality Idli, Medu Vada, Daal Vada, Dosa, Uttapam, and more delivered across Khar, Bandra, and Santacruz in Mumbai. 
              </p>
          </div>
          <div class="footer_upper_right">
              <div class="footer_time_box">
                  <h3 class="footer_time_opening">
                      Opening Hours
                  </h3>
                  <div class="timing_container">
                      <p class="time">
                          Monday To Sunday 
                      </p>
                      <p class="time">
                          7AM To 10PM 
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer_middle">
          <div class="footer_middle_left foot_m">
              <h3 class="footer_middle_title">
                  Contact Us
              </h3>
              <a href="https://g.co/kgs/NKmwqDK" class="footer_link" title="The South Indian Plate's Goggle map location.">
                  Location: 21st Road Khar West, Mumbai:400052
              </a>
              <a href="tel:+918108672615" class="footer_link" rel="nofollow" title="Contact Phone number.">
                  Phone: +918108672615
              </a>
              <a href="mailto:thesouthindianplate@gmail.com" class="footer_link" rel="nofollow" title="Contact email address.">
                  Email: thesouthindianplate@gmail.com
              </a>
          </div>
          <div class="footer_middle_center foot_m">
              <h3 class="footer_middle_title">
                  Social Links
              </h3>
              <a href="https://www.instagram.com/thesouthindianplate/" target="_blank" rel="noreferrer noopener" aria-label="Instagram"  class="footer_link" >
                  Instagram
              </a>
              <a href="https://www.youtube.com/@TheSouthIndianPlate" class="footer_link"target="_blank" rel="noreferrer noopener" aria-label="YouTube"  >
                  Youtube
              </a>
              <a href="https://www.facebook.com/thesouthindianplate/" class="footer_link" target="_blank" rel="noreferrer noopener" aria-label="Facebook"  >
                  Facebook
              </a>
              <a href="https://www.linkedin.com/company/the-south-indian-plate" class="footer_link" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn"  >
                  Linkedin
              </a>
          </div>
          <div class="footer_middle_right foot_m">
              <a href="{% url 'privacy_policy' %}" class="footer_link flast" title="Privacy Policy page.">
                  Privacy Policy
              </a>
              <a href="{% url 'terms_and_conditions' %}" class="footer_link flast" title="Terms and Conditions page.">
                  Terms and Conditions
              </a>
              <a href="https://thesouthindianplate.com/static/img/menu.pdf" title="Menu Card download link of The South Indian Plate." download="" class="footer_link flast">
                  Menu Card
              </a>
          </div>
      </div>
      <div class="footer_bottom">
          <p class="copyright">
              Copyright © 2025 The South Indian Plate
          </p>
          <p class="made_by">
              Made With 🤍 By <img src="{% static 'img/jswebart_logo.svg' %}" alt="JSwebart Brading Agency Logo">
          </p>
      </div>
  </div>
</footer>

