{% load static %}
<!-- NAV *************************************************************************** -->
<nav id="nav" class="nav">
    <div class="nav_ul">
      <a href="{% url 'home' %}" class="logo nav_link">
        <img
          src="{% static 'img/logo.svg' %}"
          alt="Social logo of The South Indian Plate."
        />
      </a>
      <ul class="link">
        <li class="nav_li">
          <a class="nav_link" href="#how-to-order" title="How to order Idli and Meduvada section">HowToOrder</a>
        </li>
        <li class="nav_li">
          <a class="nav_link" href="#idli" title="Idli order section">Idli</a>
        </li>
        <li class="nav_li">
          <a class="nav_link" href="#vada" title="Medu Vada order section">Meduvada</a>
        </li>
        <li class="nav_li">
          <a class="nav_link" href="#why-order-from-us" title="Why order from The South Indian Plate">WhyUs</a>
        </li>
        <li class="nav_li">
          <a class="nav_link" href="#vision-behind-the-creation" title="Vision behind The South Indian Plate">Vision</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- MOBILE LOGO ****************************************************************** -->
  <div class="logo_container">
    <a href="{% url 'home' %}" class="mobile_logo" 
      ><img
        src="{% static 'img/logo.svg' %}"
        alt="Mob version social logo of The South Indian Plate."
    /></a>
  </div>
  <!-- BURGER MENU ******************************************************************* -->
  <div id="burger" class="burger">
    <i class="ri-menu-5-fill"></i>
  </div>
  <!-- MOBILE VIEW LINK ************************************************************* -->
  <div class="nav" id="nav_mob">
    <div class="link2">
      <li class="nav_li"><a class="nav_link" href="{% url 'home' %}" title="lInk to navigate index page">Home</a></li>
      <li class="nav_li">
        <a class="nav_link" href="#how-to-order" title="LInk to navigate How to Order section">HowToOrder</a>
      </li>
      <li class="nav_li">
        <a class="nav_link" href="#idli" title="Link to navigate to Idli order section">Idli</a>
      </li>
      <li class="nav_li">
        <a class="nav_link" href="#vada" title="Link to navigate to Medu Vada order section">Meduvada</a>
      </li>
      <li class="nav_li">
        <a class="nav_link" href="#why-order-from-us" title="Link to navigate to Why order from us section">WhyUs</a>
      </li>
      <li class="nav_li">
        <a class="nav_link" href="#vision-behind-the-creation" title="Link to navigate to vision section">Vision</a>
      </li>
    </div>
  </div>
  <!-- SOCIAL MEDIA ICONS *************************************** -->
  <div class="social_media_icons">
    <a class="whatsapp" href="https://wa.me/+918108672615" rel="nofollow" title="A link for contacting The South Indian Plate via Whatsapp number."><i class="ri-whatsapp-line"></i></a>
    <a class="call" href="tel:+918108672615" rel="nofollow" title="A link for calling The South Indian Plate via mobile number."><i class="ri-phone-fill"></i></a>
   </div>