.menu_page{
    
    /* background-color: #080708; */
    background-image: linear-gradient(to bottom, #080808,rgba(8, 8, 8,0.95));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10vw;    
    border: none;
}

.menu_head{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 3vw;
    color: #f85a11;
    text-transform: capitalize;
    padding-top: 3vw;
    margin-bottom: -3vw;
}
.menu_page_img{
    width: 53%;
    height: auto;
}
.section_menu_order{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6vw;
    background-color: #feefe7;
    
}
.menu{
  width: 100%;
  background-image: url(../img/black_bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6vw 0;
}

.menu_wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.idli_menu_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    
}
.menu_order_head{
    font-size: 3.2vw;
    color: #f85a11;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    padding-bottom: 4vw;
    
}
.menu_img{
    width: 50%;

}
.idli_bulk_img{
    /* margin-bottom: 1vw; */
    width: 45%;
}
.menu_order{
    text-decoration: none;
    padding: 1.5vw 3vw;
    margin-top: 5vw;
    background-color: #f85a11;
    color: #080708;
    border-radius: 1.2vw;
    font-size: 2.5vw;
    letter-spacing: 0.01vw;
    text-transform: capitalize;
    font-weight: 600;
}


@media only screen and (max-width: 768px) {
    .menu_page {
        padding-top: 20vw;
    } 

    .menu_head {
        width: 80%;
        font-size: 5vw;
    }

    .menu_page_img {
        width: 80%;
    }

    .menu_order_head {
        font-size: 3.8vw;
    }

    .idli_bulk_img {
        width: 100%;
    }

    .menu_img {
        width: 85%;
    }

    .idli_menu_wrapper {
        gap: 5vw;
        width: 100%;
    }

    .menu_order {
        font-size: 3.5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
@media only screen and (max-width: 768px) {
    .menu_page {
        padding-top: 25vw;
    } 

    .menu_head {
        width: 85%;
        font-size: 5.5vw;
    }

    .menu_page_img {
        width: 85%;
    }

    .menu_order_head {
        font-size: 4.5vw;
    }

    .idli_bulk_img {
        width: 100%;
    }

    .menu_img {
        width: 95%;
    }

    .idli_menu_wrapper {
        gap: 5vw;
        width: 100%;
    }

    .menu_order {
        font-size: 4vw;
        padding: 2vw 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}