@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --heading-font: "Gloock", serif;
    --para-font: "Poppins", sans-serif;
    --dark-green-color: #0e1913;
    --yellow-color: #fcd333;
    --white-color: #ffffff;
    --medium-white: #eee;
    --secondary-color: #feefe7;
    --font-color: #000000;
    --medium-black: #222;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --normal: 400;
    --section-padding: 10vw 0;
    --within-section-padding: 7vw 0;
    --footer-background: #1d1d1d;
    --new-color: #ffe6c7;
    --brown-color: #600402;
    --green-color: #169c73;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloock", serif;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-green-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 0.5rem;
}

body {
    overflow-x: hidden;
}

span {
    display: block;
}

a {
    text-decoration: none;
}

.absolute_tab_container {
    display: none;
}

.fixed-menu {
    display: none;
}

/* SECOND SECTION STARTS  ********************************************************************** */

.second_section {
    padding: var(--section-padding);
    /* position: relative; */
    background-color: var(--white-color);
    /* z-index: 0; */
}

.second_section_wrapper {
    flex-direction: column;
}

.second_section_title {
    width: 100%;
    font-size: 3.5vw;
    font-weight: var(--normal);
    padding-bottom: 1vw;
    text-align: center;
    margin: 0 auto;
}

.bulktitle {
    width: 80%;
    font-size: 3.5vw;
    font-weight: var(--normal);
    padding-bottom: 1vw;
}

.disclaimer {
    width: 80%;
    font-size: 3.5vw;
    font-weight: var(--normal);
    padding-bottom: 1vw;
    font-family: var(--para-font);
    text-align: center;
    margin: 0 auto;
}

.second_section_para {
    font-size: 1.7vw;
    padding-bottom: 3vw;
    font-family: var(--para-font);
    color: var(--para-font);
    text-align: center;
}

/* Tab container styling */
.tab-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 7.5vw;
    z-index: 10; */
}

/* Hide radio buttons */
.tab-container input[type="radio"] {
    display: none;
}

/* Pill-style labels */
.tab-container label {
    padding: 12px 24px;
    background-color: #f1f1f1;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
    font-size: 1.8vw;
}

/* Hover and active states */
.tab-container label:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-container input[type="radio"]:checked+label {
    background-color: var(--yellow-color);
    color: var(--footer-background);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 12px rgba(29, 29, 29, 0.5);
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


/* Content styling */
.content {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 2rem;
    border-radius: 10px;
    width: 100%;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.19vw;
    
}

/* Active content styling */
.content.active {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.card {
    width: 24%;
    height: 22vw;
    border-radius: 2rem;
    background-color: var(--footer-background);
    color: var(--white-color);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}


.jumbo-card {
    width: 100%;
    border-radius: 2rem;
    background-color: var(--footer-background);
    color: var(--white-color);
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.card_image_container {
    width: 16vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 50%; 
    margin-top: -8rem;
    /* border: 5px solid var(--yellow-color); */
}

.card_image_container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content {
    width: 75%;
    display: flex;
    padding-top: 1vw;
    justify-content: space-between;
    align-items: center;
}

.titles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -1rem;
    padding: 3vw 0;
    gap: 1rem;
}

.card_title {
    font-size: 2vw;
    letter-spacing: 0.1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menuu {
    height: 0;
}


.quantity_and_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vw; 
    border-radius: 50%;
    border: 5px solid var(--yellow-color);
}

.qnp {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 7px solid var(--yellow-color);
}

.price {
    font-weight: 700;
    font-size: 2.2vw;
    letter-spacing: 0.1rem;
}

.jumboprice {
    font-size: 3vw;
}

.quantity {
    font-size: 1.3vw;
    letter-spacing: 0.1rem;
}

.quantity>b {
    font-weight: 900;
}

.bulktitle {
    font-size: 3.5rem;
    font-weight: var(--normal);
    font-family: 'Poppins';
    margin: 0 auto;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.fourdigits {
    font-size: 1.8vw;
}

.delivery_term {
        font-size: 2.5vw;
    text-align: center;
    font-family: var(--para-font);
    color: var(--footer-background);
}

.delivery_term>b {
    letter-spacing: 0.15rem;
    font-size: 1.9vw;
}

/* SECOND SECTION ENDS  ********************************************************************** */

.section_wrapper {
    width: 90%;
    margin: 0 auto;
}

/* THIRD SECTION STARTS ********************************************************************** */

.third_section {
    background-color: var(--yellow-color);
    color: var(--footer-background);
    /* background-color: var(--yellow-color); */
    position: relative;
}

.meal_tracker {
    position: absolute;
    left: 5%;
    top: 25%;
}

.third_section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

.third_section_title {
    font-size: 3vw;
    font-weight: var(--normal);
    padding-bottom: 10px;
}

.third_section_para {
    font-size: 1.6vw;
    width: 50%;
    text-align: center;
    padding-bottom: 3vw;
    font-family: var(--para-font);
}

.third_section_location_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.location_with_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.location {
    width: 5vw;
    height: 5vw;
}

.location img {
    width: 100%;
    height: 100%;
}

.location_name {
    font-size: 1.5vw;
    font-family: var(--para-font);
    font-weight: var(--normal);
}

/* THIRD SECTION ENDS ********************************************************************** */



/* FOURTH SECTION STARTS ********************************************************************** */

.fourth_section {
    padding: var(--section-padding);
    background-color: var(--white-color);
}

.fourth_section_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
}

.fourth_section_heading_and_para {
    width: 40%;

}

.fourth_section_heading {
    font-size: 3.5vw;
    font-weight: var(--normal);
}

.fourth_section_para {
    font-size: 1.6vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    padding-top: 10px;
}


.fourth_section_box {
    position: relative;
    width: 31%;
    margin-bottom: 3vw;
    transition: all 0.5s linear;
    cursor: pointer;
}

.fourth_section_box:hover {
    transform: translateY(-20px);
}

.fourth_section_image {
    width: 100%;
    height: 100%;
}

.fourth_section_image img {
    width: 100%;
    height: 100%;
}

.fourth_section_captions {
    position: absolute;
    bottom: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_title {
    color: var(--medium-white);
    font-size: 1.8vw;
    font-weight: var(--normal);
    text-align: center;
    padding-bottom: 0.6vw;
    letter-spacing: 0.05vw;
}

.box_para {
    color: var(--medium-white);
    font-size: 1vw;
    font-weight: var(--normal);
    text-align: center;
    font-family: var(--para-font);
    line-height: 1.2;
}

/* FOURTH SECTION ENDS ********************************************************************** */


/* FIFTH SECTION STARTS ********************************************************************** */

.fifth_section {
    background-color: var(--secondary-color);
    color: var(--footer-background);
    padding: var(--section-padding);
}

.fifth_section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth_left {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fifth_section_heading {
    font-size: 3vw;
    width: 70%;
    font-weight: var(--normal);
}

.fifth_right {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5vw;
}

.fifth_section_box {
    background-color: var(--yellow-color);
    padding: 2vw;
    width: 47%;
    height: 25vw;
    border-radius: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.fifth_section_image {
    width: 35%;
}

.fifth_section_image img {
    width: 100%;
    height: 100%;
}

.fifth_box_title {
    font-size: 1.8vw;
    font-family: var(--para-font);
    font-weight: var(--semi-bold);
}

.fifth_box_para {
    font-size: 1.25vw;
    font-family: var(--para-font);
    line-height: 1.3;
    text-align: center;
}

/* FIFTH SECTION ENDS ********************************************************************** */


/* SIXTH SECTION STARTS ********************************************************************** */


.sixth_section {
    padding: var(--section-padding);
    background-color: var(--white-color);
}

.sixth_section_wrapper {
    display: flex;
    flex-direction: column;
}

.sixth_upper_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixth_section_title {
    width: 35%;
    font-size: 3vw;
    font-weight: var(--normal);
}

.sixth_section_para {
    width: 40%;
    font-size: 1.6vw;
    font-family: var(--para-font);
    line-height: 1.4;
    text-align: center;
}

.sixth_lower_container {
    padding: var(--within-section-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding-bottom: 0;
}

.sixth_lower_container_box {
    width: 25vw;
    border: 2px solid var(--yellow-color);
    padding: 3vw;
    border-radius: 2vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--footer-background);
}

.sixth_lower_box_image {
    width: 8vw;
    height: 8vw;
}

.sixth_lower_box_image img {
    width: 100%;
    height: 100%;
}

.sixth_lower_box_title {
    font-weight: var(--normal);
    font-size: 2vw;
    padding: 0.5vw 0;
}

.sixth_lower_box_para {
    font-size: 1.2vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    line-height: 1.2;
}

/* SIXTH SECTION ENDS ********************************************************************** */


/* SEVENTH SECTION STARTS ********************************************************************** */

.seventh_section {
    background-color: var(--footer-background);
    padding: var(--section-padding);
}

.seventh_section_wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.seventh_left {
    width: 50%;
    height: 45vw;
    border-radius: 5vw;
}

.seventh_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
}

.seventh_right {
    width: 50%;
    padding: 3vw;
    padding-left: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-top: 12vw;
}

.seventh_right_image {
    width: 15vw;
    height: 15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2%;
}

.seventh_right_image img {
    width: 100%;
    height: 100%;
}

.seventh_right_title {
    color: var(--yellow-color);
    font-size: 2vw;
    font-weight: var(--normal);
}

.seventh_right_para {
    font-size: 1.2vw;
    color: var(--white-color);
    font-family: var(--para-font);
    text-align: center;
}

.seventh_testimonial {
    color: var(--white-color);
    padding-top: 5vw;
}

.testimonial_title {
    font-size: 2vw;
    letter-spacing: 0.1vw;
    font-weight: var(--normal);
    color: var(--yellow-color);
    padding-bottom: 2vw;
}

.testimonial_container {
    width: 100%;
}

.testimonial_marque {
    width: 100%;
    display: flex;
    gap: 50px;
    animation: scroll-left 30s linear infinite;
    /* Marquee animation */
}

.testimonial_box {
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
}

.testimonial_box span {
    font-size: 3vw;
    width: 5%;
}

.seventh_quotes {
    font-size: 1.5vw;
    width: 95%;
    padding-top: 2vw;
    font-weight: var(--normal);
    padding-left: 1vw;
}

.testimonial_box address {
    font-size: 1.5vw;
    font-weight: var(--normal);
    text-align: end;
    width: 100%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* SEVENTH SECTION ENDS ********************************************************************** */



/* EIGHT SECTION STARTS ********************************************************************** */

.eight_section {
    padding: var(--section-padding);
    background-color: var(--white-color);
}


.faq_main_container {
    width: 100%;
    border-radius: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.faq_wrappers {
    width: 100%;
    border-radius: 2vw;
}


.faq_title {
    font-size: 3vw;
    text-align: start;
    padding-bottom: 2vw;
    font-weight: var(--normal);
}

.faq_container {
    width: 100%;
}


.faq_question {
    font-size: 1vw;
    font-weight: lighter;
    padding: 1vw 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--font-color);
    font-weight: 700;
}

.faq_container .active {
    color: var(--dark-green-color);
}


.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 10px 20px;
    line-height: 1.5rem;

}

.answer p {
    font-size: 1.3vw;
    width: 85%;
    color: var(--font-color);
    padding-left: 3vw;
    padding-top: 1.5vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    line-height: 1.6;
}


.fqa_headline_container h2 span {
    font-weight: var(--normal);
}

.faq_question-text h3 {
    font-size: 2.2vw;
    font-weight: var(--normal);
}


/* EIGHT SECTION ENDS ********************************************************************** */


/* NINTH SECTION STARTS ********************************************************************** */

.ninth_section {
    padding: var(--section-padding);
    background-color: var(--white-color);
    /* --mask:
    radial-gradient(42.43px at 50% calc(100% - 60px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(42.43px at 50% calc(100% + 30px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          margin-bottom: -3.5%;
          padding-bottom: 13vw; */
}

.ninth_section_wrapper {
    width: 75% !important;
    margin: 0 auto;
}

.ninth_section_banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ninth_section_banner img {
    width: 100%;
    height: 100%;
}

.banner_content {
    position: absolute;
    padding: 5vw;
    color: var(--footer-background);
}

.banner_content_title {
    text-align: center;
    font-size: 3.5vw;
    font-weight: var(--normal);
    width: 70%;
    margin: 0 auto;
}

.banner_content_para {
    font-size: 2vw;
    text-align: center;
    font-family: var(--para-font);
    width: 60%;
    margin: 0 auto;
    padding: 2vw 0;
}


.banner_anchor_container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    height: 5vw;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: var(--para-font);
    border-radius: 1rem;
}

.banner_anchor_container a {
    font-family: var(--para-font);
    font-weight: var(--semi-bold);
    color: var(--footer-background);
}

/* NINTH SECTION ENDS ********************************************************************** */


/* FOOTER SECTION STARTS ********************************************************************** */

.footer_section {
    padding: var(--section-padding);
    background-color: var(--footer-background);
}


.footer_wrapper {
    flex-wrap: wrap;
}

.footer_upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_upper_left {
    width: 50%;
}

.logo {
    /* width: 18vw; */
    width: 10vw;
}

.logo img {
    width: 100%;
    height: 100%;
}

.footer_upper_left_para {
    width: 60%;
    color: var(--secondary-color);
    /* padding-top: 1vw; */
    font-size: 1.4vw;
    font-family: var(--para-font);
    line-height: 1.4;
}

.footer_upper_right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_time_box {
    background-color: var(--secondary-color);
    width: 70%;
    /* height: 100%; */
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}


.footer_time_opening {
    font-size: 2vw;
    font-weight: var(--normal);
}

.timing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    margin: 0 auto;
}

.time {
    font-size: 1.4vw;
    line-height: 1.3;
    font-family: var(--para-font);
    width: 35%;
}

.time:nth-child(2) {
    text-align: end;
}

.footer_middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: 6vw 0;
}

.foot_m {
    width: 25%;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.footer_middle_title {
    font-size: 2vw;
    font-weight: var(--normal);
    padding-bottom: 1vw;
}

.footer_link {
    color: var(--secondary-color);
    font-size: 1.2vw;
    font-family: var(--para-font);
}

.flast {
    color: var(--medium-white);
}

.footer_bottom {
    text-align: center;
    width: 100%;
    color: var(--medium-white);
}

.copyright {
    font-family: var(--para-font);
    border-bottom: 1px solid rgba(238, 238, 238, 0.3);
    padding-bottom: 2vw;
    font-size: 1.1vw;
}

.made_by {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    gap: 1.5vw;
    color: var(--yellow-color);
}

.made_by img {
    width: 4vw;
    height: 4vw;
}

/* FOOTER SECTION ENDS ********************************************************************** */