<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Information | The South Indian Plate</title>
    <meta
      name="description"
      content="Contact The South Indian Plate via the given contact information on the page regarding any of your query."
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/idli.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FAVICONS ******************************************* -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}"/>
    <!-- canonical -->
    <link rel="canonical" href="https://thesouthindianplate.com/contact-us" />
    <!-- **************OG PROTOCOL**************************** -->
    <meta prefix="og: https://.me/ns#" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Contact Information | The South Indian Plate"
    />
    <meta
      property="og:description"
      content="Contact The South Indian Plate via the given contact information on the page regarding any of your query."
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta
      property="og:image:alt"
      content="The South Indian Plate special breakfast plate."
    />
    <meta
      property="og:url"
      content="https://thesouthindianplate.com/contact-us"
    />
    <meta property="og:site_name" content="The South Indian Plate" />
    <meta
      property="og:image"
      content="https://thesouthindianplate.com/static/img/hor_banner.webp"
    />
   
    <!-- crawl -->
    <meta name="robots" content="index, follow" />

  </head>

  <body>
    {% include 'includes/header.html' %}
    <!-- CONTACT HERO ************************************************************ -->
    <section class="contact_section_page">
      <h1 class="contact_head">Contact Us</h1>
      <h2 class="contact_company">The South Indian Plate</h2>
      <p class="contact_phone contact_business_profile">
        <a href="https://g.co/kgs/NKmwqDK" title="Google Business Profile link of The South Indian Plate."> <img class="business-img" src="{% static 'img/google-my-business.svg' %}" alt="Google Business Profile of The South Indian Plate.">Our Google Business Profile</a>
      </p>
      <p class="contact_location">
        Location: 21st Road Khar West, Mumbai:400052
      </p>
      
      <p class="contact_phone">
        <a
          href="tel:+918108672615"
          rel="nofollow"
          title="Phone number contact information of THe south Indian Plate."
          >PhoneNo: +918108672615</a
        >
      </p>
      <p class="contact_email">
        <a
          href="mailto:thesouthindianplate@gmail.com"
          rel="nofollow"
          title="Email id contact information of THe south Indian Plate."
          >Email: thesouthindianplate@gmail.com</a
        >
      </p>
      <!-- MAP ************************************************************************ -->

    
    </section>

    {% include 'includes/footer.html' %}

    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
