<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MT5VVC83');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- SEO********************************* -->
  <title>Order Idli and Medu Vada near Khar, Bandra and Santacruz in Mumbai</title>
  <meta name="description"
    content="We offer bulk Idli and Medu Vada delivery across Khar, Santacruz and Bandra in Mumbai for any occasion. Premium quality Idli and Medu Vada. Order now!" />

  <!-- FAVICONS ******************************************* -->
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" />


<!-- SYLESHEET LINKS *************************************** -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <meta name="keywords"
    content="Order Idli in Khar, Santacruz  and Bandra in Mumbai from The south indian plate, Medu Vada online order in Bandra , Santacruz , Khar in Mumbai, order south indian breakfast in bulk in Khar , Santacruz  and Bandra from The South Indian Plate. " />
  <link rel="canonical" href="https://thesouthindianplate.com/" />

  <!-- **************OG PROTOCOL**************************** -->
  <meta prefix="og: https://.me/ns#" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Order Idli and Medu Vada near Khar, Bandra and Santacruz in Mumbai" />
  <meta property="og:description"
    content="We offer bulk Idli and Medu Vada delivery across Khar, Santacruz and Bandra in Mumbai for any occasion. Premium quality Idli and Medu Vada. Order now! " />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="2400" />
  <meta property="og:image:height" content="1260" />
  <meta property="og:image:alt" content="The South Indian Plate kitchen view." />
  <meta property="og:url" content="https://thesouthindianplate.com/" />
  <meta property="og:site_name" content="The South Indian Plate" />
  <meta property="og:image" content="https://thesouthindianplate.com/static/img/kitchen.jpg" />

  <!-- crawl -->
  <meta name="robots" content="index, follow" />

  <!-- SCHEMA -->
  <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "The South Indian Plate",
        "url": "https://thesouthindianplate.com/"
      }
    </script>

  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "The South Indian Plate",
        "alternateName": "TheSouthIndianPlate",
        "url": "https://thesouthindianplate.com/",
        "logo": "https://thesouthindianplate.com/static/img/logo_512.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918108672615",
          "contactType": "customer service",
          "areaServed": "IN",
          "availableLanguage": ["en", "Hindi", "Marathi"]
        },
        "sameAs": [
          "https://thesouthindianplate.com/",
          "https://www.linkedin.com/company/the-south-indian-plate",
          "https://www.youtube.com/@thesouthindianplate",
          "https://www.instagram.com/thesouthindianplate/",
          "https://www.facebook.com/thesouthindianplate/"
        ] 
      }
    </script>
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Restaurant",
        "name": "The South Indian Plate",
        "image": "https://thesouthindianplate.com/static/img/logo_512.png",
        "@id": "",
        "url": "https://thesouthindianplate.com/",
        "telephone": "+918108672615",
        "priceRange": "$-$$$",
        "menu": "https://thesouthindianplate.com/static/img/menu.jpg",
        "servesCuisine": "Idli , Meduvada",
        "acceptsReservations": "true",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "3RGG+M9R, Koliwada, Khar Danda",
          "addressLocality": "Mumbai",
          "postalCode": "400052",
          "addressCountry": "IN"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 18.969047,
          "longitude": 72.821181
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "07:00",
          "closes": "22:00"
        },
        "sameAs": [
          "https://thesouthindianplate.com/",
          "https://www.linkedin.com/company/the-south-indian-plate",
          "https://www.youtube.com/@thesouthindianplate",
          "https://www.instagram.com/thesouthindianplate/",
          "https://www.facebook.com/thesouthindianplate/"
        ] 
      }
      </script>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT5VVC83"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- HERO SECTION STARTS ******************************************************************* -->

  <!-- <div class="hero_top">
    <p class="hero_top_para">For any query contact us on <a href="tel:+918108672615" class="call_us" rel="nofollow" title="Contact Phone number..">+918108672615</a>.</p>
  </div> -->

  <!-- SMOOTH SCROLL -->
  <div id="smooth-wrapper" data-scroll-container>
    <div id="smooth-content">
  
  <section class="hero_section">

    <div class="section_wrapper hero_section_wrapper">

      <div class="hero_left">

        <figure class="brand_logo">
          <img src="{% static 'img/brand_logo.svg' %}" alt="The South Indian Plate logo.">
        </figure>

        <h1 class="hero_title">
          <div class="hero_lines"><span>For Every Occasion,</span> </div>
          <div class="hero_lines"><span>Bring Home The Joy Of</span> </div>
          <div class="hero_lines"><span>Idli and Medu Vada</span> </div>
        </h1>

        <p class="hero_para">
          Your One-Stop Destination for Authentic South Indian Breakfast in Mumbai.
        </p>

        <span class="order_here_pill">
          <a href="#menu" title="Whatsapp order link." rel="nofollow">Order Here</a>
        </span>

        <!-- <figure class="pattern1">
          <img src="{% static 'img/pattern1.png' %}" alt="Decorative pattern.">
        </figure> -->

        <!-- <figure class="pattern2">
          <img src="{% static 'img/pattern2.png' %}" alt="Decorative pattern.">
        </figure> -->

      </div>

      <div class="hero_right">
        <nav class="navbar">
          <a href="#menu" class="menu navlink">Menu</a>
          <a href="https://wa.me/+918108672615" class="contact navlink" title="Whatsapp order link.">
            <img src="{% static 'img/whatsapp.svg' %}" alt="Whatsapp Logo icon">
          </a>
        </nav>
        <figure class="plate_pattern">
          <img src="{% static 'img/heropattern.svg' %}" alt="Motion Pattern">
        </figure>
        <figure class="plate">
          <img src="{% static 'img/plate.png' %}" alt="The South Indian Combo Plate Image">
        </figure>
        
      </div>

    </div>

  </section>

  <!-- HERO SECTION ENDS ******************************************************************* -->

  <!-- SECTION 1/2 STARTS ******************************************************************* -->
   <section class="oneandhalfsection">
    <div class="hero_right_marque_container">
      <!-- <div class="marquee_img_vertical">
        <img class="hw_img hero_img_1" src="{% static 'img/idli1.jpg' %}" alt="Best idli from The South Indian Plate.">
        <img class="hw_img hero_img_2" src="{% static 'img/meduwada.jpg' %}" alt="Best Medu Vada from The South Indian Plate.">
        <img class="hw_img hero_img_3" src="{% static 'img/idli2.jpg' %}" alt="Authentic idli from The South Indian Plate.">
        <img class="hw_img hero_img_4" src="{% static 'img/meduwada2.jpg' %}" alt="Premium quality Medu Vada from The South Indian Plate.">
        <img class="hw_img hero_img_5" src="{% static 'img/idli3.jpg' %}" alt="Delicious idli from The South Indian Plate.">
        <img class="hw_img hero_img_6" src="{% static 'img/meduwada3.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_7" src="{% static 'img/idli4.jpg' %}" alt="Top quality idli from The South Indian Plate.">
        <img class="hw_img hero_img_8" src="{% static 'img/meduwada4.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_9" src="{% static 'img/idli5.jpg' %}" alt="Premium quality idli from The South Indian Plate.">
        <img class="hw_img hero_img_10" src="{% static 'img/meduwada5.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_11" src="{% static 'img/idli6.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_12" src="{% static 'img/meduwada6.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_13" src="{% static 'img/idli7.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_14" src="{% static 'img/idli8.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_15" src="{% static 'img/idli9.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img hero_img_16" src="{% static 'img/idli10.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
      </div> -->
      <div class="marquee_img_horizontal">
        <img class="hw_img_h hero_img_1" src="{% static 'img/idli1.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_2" src="{% static 'img/meduwada.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_3" src="{% static 'img/idli2.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_4" src="{% static 'img/meduwada2.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_5" src="{% static 'img/idli3.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_6" src="{% static 'img/meduwada3.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_7" src="{% static 'img/idli4.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_8" src="{% static 'img/meduwada4.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_9" src="{% static 'img/idli5.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_10" src="{% static 'img/meduwada5.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_11" src="{% static 'img/idli6.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_12" src="{% static 'img/meduwada6.jpg' %}" alt="Best Medu vada order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_13" src="{% static 'img/idli7.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_14" src="{% static 'img/idli8.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_15" src="{% static 'img/idli9.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
        <img class="hw_img_h hero_img_16" src="{% static 'img/idli10.jpg' %}" alt="Best Idli and Sambhar order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
      </div>
    </div>
   </section>
  <!-- SECTION 1/2 ENDS ******************************************************************* -->

  <!-- SECOND SECTION STARTS ********************************************************************** -->

  <section class="second_section" id="menu">
    <div class="section_wrapper second_section_wrapper">
      <h2 class="second_section_title" >
        We deliver premium quality, delicious Idli and Medu Vada to your doorstep.
      </h2>

      <div class="second_section_pill_container">
        <div class="pills-wrapper">
          <button class="pill active" data-slide="0">Small Gathering</button>
          <button class="pill" data-slide="1">Party Starter</button>
          <button class="pill" data-slide="2">Grand Celebration</button>
          <button class="pill" data-slide="3">Ultimate Celebration</button>
        </div>
        <div class="arrows_container">
          <div class="second_section_arrow pill"><span class="prev"></span></div>
          <div class="second_section_arrow pill"><span class="next"></span></div>
        </div>
      </div>

      <div class="swiper-container" data-speed="1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="services_box">
              <figure class="service_box_left">
                <img src="{% static 'img/idli_service.svg' %}" alt="Best Idli and Medu vada with Sambhar and chutney 10-25 Plates (For Small Gathering) order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
              </figure>
              <div class="service_box_right">
                <figure class="pattern3">
                  <img src="{% static 'img/pattern2.png' %}" alt="Decoration pattern.">
                </figure>
                <p class="service_box_right_title">
                  SMALL GATHERING ( 10 - 25 PLATES ) - Sambhar and Chutney Included
                </p>

                <div class="service_box_menu">
                  <div class="service_box_menu_top">
                    <p class="p_main">
                      <span class="p_kid">Idli Plate (5 Pieces )</span> 
                      <span class="p_kid">₹90.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Medu Vada Plate (4 Pieces )</span> 
                      <span class="p_kid">₹88.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 2 idli 1 medu vada )</span> 
                      <span class="p_kid">₹58.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 3 idli 2 medu vada )</span> 
                      <span class="p_kid">₹98.00</span>
                    </p>
                  </div>
                  <div class="service_box_menu_bottom">
                    <a href="https://wa.me/+918108672615" rel="nofollow" title="Whatsapp order link.">Place Your Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services_box">
              <figure class="service_box_left">
                <img src="{% static 'img/medu.svg' %}" alt="Best Idli and Medu vada with Sambhar and chutney 30-45 Plates (For Party Starter) order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
              </figure>
              <div class="service_box_right">
                <figure class="pattern3">
                  <img src="{% static 'img/pattern2.png' %}" alt="Decoration pattern.">
                </figure>
                <p class="service_box_right_title">
                  PARTY STARTER ( 30 - 45 plate ) - Sambhar and Chutney Included
                </p>

                <div class="service_box_menu">
                  <div class="service_box_menu_top">
                    <p class="p_main">
                      <span class="p_kid">Idli Plate (5 Pieces )</span> 
                      <span class="p_kid">₹80.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Medu Vada Plate (4 Pieces )</span> 
                      <span class="p_kid">₹84.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 2 idli 1 medu vada )</span> 
                      <span class="p_kid">₹53.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 3 idli 2 medu vada )</span> 
                      <span class="p_kid">₹90.00</span>
                    </p>
                  </div>
                  <div class="service_box_menu_bottom">
                    <a href="https://wa.me/+918108672615" rel="nofollow" title="Whatsapp order link.">Place Your Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services_box">
              <figure class="service_box_left">
                <img src="{% static 'img/idli_service.svg' %}" alt="Best Idli and Medu vada with Sambhar and chutney 50-100 Plates (For Grand Celebration) order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
              </figure>
              <div class="service_box_right">
                <figure class="pattern3">
                  <img src="{% static 'img/pattern2.png' %}" alt="Decoration pattern.">
                </figure>
                <p class="service_box_right_title">
                  GRAND CELEBRATION ( 50-100 PLATES ) - Sambhar and Chutney Included
                </p>

                <div class="service_box_menu">
                  <div class="service_box_menu_top">
                    <p class="p_main">
                      <span class="p_kid">Idli Plate (5 Pieces )</span> 
                      <span class="p_kid">₹75.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Medu Vada Plate (4 Pieces )</span> 
                      <span class="p_kid">₹80.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 2 idli 1 medu vada )</span> 
                      <span class="p_kid">₹50.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Combo ( 3 idli 2 medu vada )</span> 
                      <span class="p_kid">₹85.00</span>
                    </p>
                  </div>
                  <div class="service_box_menu_bottom">
                    <a href="https://wa.me/+918108672615" rel="nofollow" title="Whatsapp order link.">Place Your Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services_box">
              <figure class="service_box_left">
                <img src="{% static 'img/medu.svg' %}" alt="Best Idli, Medu vada, Sambhar and chutney (Ultimate celebration Pack) order from The South Indian Plate near Khar, Bandra and Santacruz in Mumbai.">
              </figure>
              <div class="service_box_right">
                <figure class="pattern3">
                  <img src="{% static 'img/pattern2.png' %}" alt="Decoration pattern.">
                </figure>
                <p class="service_box_right_title">
                  ULTIMATE CELEBRATION PACK 
                </p>

                <div class="service_box_menu">
                  <div class="service_box_menu_top">
                    <p class="p_main">
                      <span class="p_kid">For 100 Idli ( With Sambhar And Chutney )</span> 
                      <span class="p_kid">₹1500.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">For 100 Medu Vada ( With Sambhar And Chutney )</span> 
                      <span class="p_kid">₹2000.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Coconut Chutney (Add On-per kg)</span> 
                      <span class="p_kid">₹110.00</span>
                    </p>
                    <p class="p_main">
                      <span class="p_kid">Sambhar (Add On - per kg)</span> 
                      <span class="p_kid">₹65.00</span>
                    </p>
                  </div>
                  <div class="service_box_menu_bottom">
                    <a href="https://wa.me/+918108672615" rel="nofollow" title="Whatsapp order link.">Place Your Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="queries">For any query call us on <a href="tel:+918108672615" class="call_us" rel="nofollow" title="Contact Phone number..">+918108672615</a> or
        <a href="https://wa.me/+918108672615" class="wa_us" rel="nofollow" title="Whatsapp order link.">whatsapp us</a>.
      </p>
    </div>
  </section>

  <!-- SECOND SECTION ENDS ********************************************************************** -->


  <!-- THIRD SECTION STARTS ********************************************************************** -->

  <section class="third_section">
    <figure class="meal_tracker">
      <img src="{% static 'img/Meal_application_tracking.svg' %}" alt="Areas serving in Mumbai by The South Indian Plate - Khar, Bandra and Santacruz.">
    </figure>
    <div class="section_wrapper third_section_wrapper">
      <h2 class="third_section_title">
        Areas We Serve In Mumbai
      </h2>

      <p class="third_section_para">
        We serve your favorite Idli and Medu Vada in these areas.
      </p>

      <div class="third_section_location_container">
        <div class="location_with_name">
          <figure class="location">
            <img src="{% static 'img/location.svg' %}" alt="Location serving - Khar, Bandra and Santacruz in MUmbai. ">
          </figure>
          <p class="location_name">Khar</p>
        </div>
        <div class="location_with_name">
          <figure class="location">
            <img src="{% static 'img/location.svg' %}" alt="Location serving - Khar, Bandra and Santacruz in MUmbai. ">
          </figure>
          <p class="location_name">Bandra</p>
        </div>
        <div class="location_with_name">
          <figure class="location">
            <img src="{% static 'img/location.svg' %}" alt="Location serving - Khar, Bandra and Santacruz in MUmbai. ">
          </figure>
          <p class="location_name">Santacruz</p>
        </div>
      </div>
    </div>
  </section>

  <!-- THIRD SECTION ENDS ********************************************************************** -->


  <!-- FOURTH SECTION STARTS ********************************************************************** -->

  <section class="fourth_section">
    <div class="section_wrapper fourth_section_wrapper">
      <div class="fourth_section_heading_and_para">
        <h2 class="fourth_section_heading">
          Perfect for Every Occasion
        </h2>
        <p class="fourth_section_para">
          From breakfast meetings to festive celebrations, we’ve got you covered:
        </p>
      </div>

      <div class="fourth_section_box">
        <figure class="fourth_section_image">
          <img src="{% static 'img/g1.svg' %}" alt="Order Idli and Meduvada from The South Indian Plate for Corporate events in Khar, Bandra and Santacruz in Mumbai.">
        </figure>
        <div class="fourth_section_captions">
          <h3 class="box_title">Corporate Events</h3>
          <p class="box_para">Host seamless meetings with bulk Idli and Medu Vada delivery. Energize your team
            with fresh South Indian delicacies.</p>
        </div>
      </div>
      <div class="fourth_section_box">
        <figure class="fourth_section_image">
          <img src="{% static 'img/g2.svg' %}" alt="Order Idli and Meduvada from The South Indian Plate for weddings & family gatherings in Khar, Bandra and Santacruz in Mumbai.">
        </figure>
        <div class="fourth_section_captions">
          <h3 class="box_title">Weddings & Family Gatherings</h3>
          <p class="box_para">Make your special day even more memorable with authentic South Indian flavors.
            Our bulk food delivery ensures stress-free planning.</p>
        </div>
      </div>
      <div class="fourth_section_box">
        <figure class="fourth_section_image">
          <img src="{% static 'img/g3.svg' %}" alt="Order Idli and Meduvada from The South Indian Plate for festivals and pujas in Khar, Bandra and Santacruz in Mumbai.">
        </figure>
        <div class="fourth_section_captions">
          <h3 class="box_title">Festivals & Pujas</h3>
          <p class="box_para">Celebrate traditions with traditional food. From Ganesh Chaturthi to Pongal, our
            Idlis and Medu Vadas are perfect for festive feasts.</p>
        </div>
      </div>
      <div class="fourth_section_box">
        <figure class="fourth_section_image">
          <img src="{% static 'img/g4.svg' %}" alt="Order Idli and Meduvada from The South Indian Plate for parties & get-togethers in Khar, Bandra and Santacruz in Mumbai.">
        </figure>
        <div class="fourth_section_captions">
          <h3 class="box_title">Parties & Get-Togethers</h3>
          <p class="box_para">Hosting a birthday or an anniversary? Our menu is crowd-pleasing and convenient,
            making your celebration a hit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOURTH SECTION ENDS ********************************************************************** -->


  <!-- FIFTH SECTION STARTS ********************************************************************** -->

  <section class="fifth_section">
    <div class="section_wrapper fifth_section_wrapper">
      <div class="fifth_left">
        <h2 class="fifth_section_heading">
          How to place your Idli and Medu vada bulk order?
        </h2>
      </div>
      <div class="fifth_right">
        <div class="fifth_section_box">
          <figure class="fifth_section_image">
            <img src="{% static 'img/s1.svg' %}" alt="Place Idli and Medu Vada order from The South Indian Plate.">
          </figure>
          <h4 class="fifth_box_title">Place Your Order</h4>
          <p class="fifth_box_para">Order us atleast 24 hours before as we have to make the batter for the
            order.</p>
        </div>
        <div class="fifth_section_box">
          <figure class="fifth_section_image">
            <img src="{% static 'img/s2.svg' %}" alt="Pay online.">
          </figure>
          <h4 class="fifth_box_title">Online payment</h4>
          <p class="fifth_box_para">pay 100% amount in advance online at the time of Order. We don't offer
            cash on delivery.</p>
        </div>
        <div class="fifth_section_box">
          <figure class="fifth_section_image">
            <img src="{% static 'img/s3.svg' %}" alt="Freshly prepared Idli and Medu Vada home delivery.">
          </figure>
          <h4 class="fifth_box_title">Enjoy Fresh Delivery</h4>
          <p class="fifth_box_para">We deliver your freshly prepared order at the time and location of your
            choice.</p>
        </div>
        <div class="fifth_section_box">
          <figure class="fifth_section_image">
            <img src="{% static 'img/s4.svg' %}" alt="Cancellation policy.">
          </figure>
          <h4 class="fifth_box_title">Cancellation policy</h4>
          <p class="fifth_box_para">Cancellation leads to Food Wastage, there will be no refund after payment,
            So think and order.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- FIFTH SECTION ENDS ********************************************************************** -->


  <!-- SIXTH SECTION STARTS ********************************************************************** -->

  <section class="sixth_section">
    <div class="section_wrapper sixth_section_wrapper">
      <div class="sixth_upper_container">
        <h2 class="sixth_section_title">Why Choose The South Indian Plate?</h2>
        <p class="sixth_section_para">We don’t just deliver food; we deliver experiences. Here’s why thousands
          of Mumbaikars trust us for their events.</p>
      </div>
      <div class="sixth_lower_container">
        <div class="sixth_lower_container_box">
          <figure class="sixth_lower_box_image">
            <img src="{% static 'img/w1.svg' %}" alt="Authentic Idli and Medu Vada.">
          </figure>
          <h3 class="sixth_lower_box_title">Authenticity in Every Bite</h3>
          <p class="sixth_lower_box_para">Our Idlis are soft and fluffy, and our Medu Vadas are perfectly
            crispy, made with traditional recipes that stay true to South Indian heritage.</p>
        </div>
        <div class="sixth_lower_container_box">
          <figure class="sixth_lower_box_image">
            <img src="{% static 'img/w2.svg' %}" alt="For any occasion, perfectly fit Idli and Medu Vada.">
          </figure>
          <h3 class="sixth_lower_box_title">Perfect for Every Occasion</h3>
          <p class="sixth_lower_box_para">We cater to all kinds of events, from small family gatherings to
            large corporate breakfasts and weddings.</p>
        </div>
        <div class="sixth_lower_container_box">
          <figure class="sixth_lower_box_image">
            <img src="{% static 'img/w3.svg' %}" alt="Freshly prepared idli and Medu vada.">
          </figure>
          <h3 class="sixth_lower_box_title"> Freshly Made, Always</h3>
          <p class="sixth_lower_box_para">Every order is prepared fresh in our hygienic kitchen, using
            high-quality ingredients.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SIXTH SECTION ENDS ********************************************************************** -->


  <!-- SEVENTH SECTION STARTS ********************************************************************** -->

  <section class="seventh_section">
    <div class="section_wrapper seventh_section_wrapper">
      <figure class="seventh_section_image seventh_left">
        <img src="{% static 'img/kitchen.jpg' %}" alt="The South Indian plate is a cloud based delivery restaurant serving Idli and Medu Vada in the areas - Khar, Bandra and Santacruz in Mumbai.">
      </figure>
      <div class="seventh_right">
        <figure class="seventh_right_image">
          <img src="{% static 'img/pattern2.png' %}" alt="Decoration Pattern">
        </figure>
        <h2 class="seventh_right_title">
          About The South Indian Plate
        </h2>
        <p class="seventh_right_para">
          The South Indian Plate is well recognized as the best Idli and Medu Vada bulk suppliers in Mumbai.
          Our specialty is preparing Idli and Medu Vada that go along with any of your occasion. We are the
          best choice if you are looking for bulk orders near Khar, Santacruz or Bandra in Mumbai. The
          quality, authenticity, & flavor at a reasonable price that we provide are unmatched.
        </p>
        <p class="seventh_right_para">
          Whether you are craving for the authentic taste of South India or hosting an event and looking for
          bulk food delivery that’s fresh, flavorful, and reliable. At The South Indian Plate, we specialize
          in delivering Idlis and Medu Vadas in bulk, ensuring you and your guests enjoy the perfect blend of
          tradition, taste, and authenticity.
        </p>
      </div>
      <div class="seventh_testimonial">
        <h3 class="testimonial_title">
          Listen to Our Customer
        </h3>
        <div class="testimonial_container">
          <div class="testimonial_marque">
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                Very delicious and fresh idli and meduvada I had today from The South Indian Plate best
                service and best authentic taste I'll recommend to every one.
              </p>
              <address>Ankit Khimsariya</address>
            </div>
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                idli sambar tasted very good and delicious. The quality is very awesome, I remembered
                the south taste, Meduwada was crispy as required, real south taste.
              </p>
              <address>Sunny Chhatija</address>
            </div>
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                Best Idli and Meduvada i ever had...It was so Delicious and the meduvada is so crispy
                one could ever imagine Try it.
              </p>
              <address>Shubhansh Kumar</address>
            </div>
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                Best Idli and Meduwada i had ever tried the crispynes and the unique taste makes it the
                best food ever. try it if you want quality and taste.
              </p>
              <address>Danish Ansari</address>
            </div>
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                Very delicious and fresh idli and meduvada I had today from The South Indian Plate best
                service and best authentic taste I'll recommend to every one.
              </p>
              <address>Ankit Khimsariya</address>
            </div>
            <div class="testimonial_box">
              <span>❝</span>
              <p class="seventh_quotes">
                Very delicious and fresh idli and meduvada I had today from The South Indian Plate best
                service and best authentic taste I'll recommend to every one.
              </p>
              <address>Ankit Khimsariya</address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SEVENTH SECTION ENDS ********************************************************************** -->

  <!-- EIGHT SECTION STARTS ********************************************************************** -->

  <section class="eight_section">
    <div class="section_wrapper eight_section_container">
      <div class="faq_main_container">
        <h2 class="faq_title">FAQs</h2>
        <div class="faq_wrappers">
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3>
                  1. What makes your Idli and Medu vada the best in Mumbai?
                </h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  We are the best Idli and Medu Vada suppliers that offers authentic South Indian
                  breakfast in Khar, Santacruz and Bandra in Mumbai. Our fluffy Idlis, and crispy
                  Meduvadas, delicious coconut Chutney and Sambhar are the talk of the town. If you are
                  pure vegetarian then you have got your perfect place to order. Some of the important
                  reason why we are unique :-
                  <br>1. Authenticity - Our dish has authentic South Indian flavor. We prepare it in a
                  traditional way so that the authenticity maintains.
                  <br>2. Flavor - Our Idlis are big in size and soft, Meduvada is crispy and scrumptious,
                  Chutney and Sambhar is cherry on the cake. The flavor you would never want to miss.
                  <br> 3. Hygienic - We prepare these breakfast for you in home like environment. A food
                  that makes you healthy along with the taste is our uniqueness.
                  Organic Ingredients - We only use fresh and natural ingredients to prepare Idli,
                  Meduvada, Sambhar, and Chutney for you.
                  <br> 4. Wide Delivery Network
                  We deliver across Mumbai, including Bandra, Santacruz, Khar, and beyond.
                  <br> 5. Bulk Orders Simplified
                  Minimum order starts at just 100 pieces, making us the ideal choice for events and
                  celebrations.


                </p>
                </p>
              </div>
            </div>
          </div>
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3>2. What is your minimum order size?</h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  We accept a minimum order of 100 pieces for Idlis or Medu Vadas. </p>
              </div>
            </div>
          </div>
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3> 3. How far in advance should I place my order?</h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  Please place your order at least 24 hours in advance to ensure fresh preparation.
                </p>
              </div>
            </div>
          </div>
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3>4. Which areas do you deliver to?</h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  We deliver across Mumbai, including Bandra, Santacruz, Khar, and nearby locations.
                </p>
              </div>
            </div>
          </div>
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3>5. Do you provide chutney and sambhar with the order?</h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  Yes, every order comes with complimentary sambhar and coconut chutney.
                </p>
              </div>
            </div>
          </div>
          <div class="faq_container">
            <div class="faq_question">
              <div class="faq_question-text">
                <h3>6. How do I make payments?</h3>
              </div>
            </div>
            <div class="answercont">
              <div class="answer">
                <p>
                  We accept payments via UPI, bank transfer, and other online methods.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- EIGHT SECTION ENDS ********************************************************************** -->


  <!-- NINTH SECTION STARTS ********************************************************************** -->

  <section class="ninth_section">
    <div class="ninth_section_wrapper">
      <figure class="ninth_section_banner">
        <img src="{% static 'img/tsip_banner.svg' %}" alt=" Order authentic South Indian flavors for your next event from The South Indian Plate.">
        <div class="banner_content">
          <h2 class="banner_content_title">Ready to serve authentic South Indian flavors at your next event?</h2>
          <p class="banner_content_para">
            Accompany The South Indian Plate In Your Happy Moments.
          </p>
          <div class="banner_anchor_container">
            <a href="https://wa.me/+918108672615" class="wa_us" rel="nofollow" title="Whatsapp order link.">Place Your Order</a>
          </div>
        </div>
      </figure>
    </div>
  </section>

  <!-- NINTH SECTION ENDS ********************************************************************** -->

  <!-- FOOTER SECTION STARTS ******************************************************************** -->

  {% include 'includes/footer.html' %}

  <!-- FOOTER SECTION ENDS ******************************************************************** -->
</div>
</div>

 <!-- Include GSAP Core + ScrollTrigger + ScrollSmoother -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>