<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MT5VVC83");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO********************************* -->
    <title>Order Best Idli & Medu Vada – Khar, Santacruz, Bandra, Mumbai</title>
    <meta
      name="description"
      content="The South Indian Plate offers bulk Idli & Medu Vada delivery across Khar, Santacruz, Bandra, and Mumbai. Fresh, authentic Idli and Medu Vada. Order now!"
    />
    
    <!-- FAVICONS ******************************************* -->
    <link rel="icon" href="{% static 'img/chef_fav.png' %}" type="image/png"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/idli.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
    <meta
      name="keywords"
      content="Order Idli in Khar, Santacruz  and Bandra in Mumbai from The south indian plate, Medu Vada online order in Bandra , Santacruz , Khar in Mumbai, order south indian breakfast in bulk in Khar , Santacruz  and Bandra from The South Indian Plate. "
    />
    <link rel="canonical" href="https://thesouthindianplate.com/" />

    <!-- **************OG PROTOCOL**************************** -->
    <meta prefix="og: https://.me/ns#" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Order Best Idli & Medu Vada – Khar, Santacruz, Bandra, Mumbai"
    />
    <meta
      property="og:description"
      content="The South Indian Plate offers bulk Idli & Medu Vada delivery across Khar, Santacruz, Bandra, and Mumbai. Fresh, authentic Idli and Medu Vada. Order now! "
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta
      property="og:image:alt"
      content="The South Indian Plate special breakfast plate."
    />
    <meta property="og:url" content="https://thesouthindianplate.com/" />
    <meta property="og:site_name" content="The South Indian Plate" />
    <meta
      property="og:image"
      content="https://thesouthindianplate.com/static/img/hor_banner.webp"
    />

    <!-- crawl -->
    <meta name="robots" content="index, follow" />

    <!-- SCHEMA -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "The South Indian Plate",
        "url": "https://thesouthindianplate.com/"
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "The South Indian Plate",
        "alternateName": "TheSouthIndianPlate",
        "url": "https://thesouthindianplate.com/",
        "logo": "https://thesouthindianplate.com/static/img/favicon-512.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918108672615",
          "contactType": "customer service",
          "areaServed": "IN",
          "availableLanguage": ["en", "Hindi", "Marathi"]
        },
        "sameAs": [
          "https://thesouthindianplate.com/",
          "https://www.linkedin.com/company/the-south-indian-plate",
          "https://www.youtube.com/@thesouthindianplate",
          "https://www.instagram.com/thesouthindianplate/",
          "https://www.facebook.com/thesouthindianplate/"
        ] 
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Restaurant",
        "name": "The South Indian Plate",
        "image": "https://thesouthindianplate.com/static/img/favicon-512.png",
        "@id": "",
        "url": "https://thesouthindianplate.com/",
        "telephone": "+918108672615", 
        "priceRange": "$-$$$",
        "menu": "https://thesouthindianplate.com/menu-page",
        "servesCuisine": "Idli , Meduvada",
        "acceptsReservations": "true",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "21st Road Khar West",
          "addressLocality": "Mumbai",
          "postalCode": "400052",
          "addressCountry": "IN"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 19.072180,
          "longitude": 72.822540
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "07:00",
          "closes": "22:00"
        },
        "sameAs": [
          "https://thesouthindianplate.com/",
          "https://www.linkedin.com/company/the-south-indian-plate",
          "https://www.youtube.com/@thesouthindianplate",
          "https://www.instagram.com/thesouthindianplate/",
          "https://www.facebook.com/thesouthindianplate/"
        ] 
      }
      </script>
      
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MT5VVC83"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'includes/header.html' %}
    <!-- HERO SECTION ****************************************************************** -->
    <section class="hero_section" id="homepage">
      <div class="diagonal_trapezium"></div>
      <div class="hero_text_wrapper">
        <h1 class="hero_heading">
          <span>We Deliver Best</span> Idli & Medu Vada At Your Door
        </h1>
        <a href="https://wa.me/+918108672615" title="Whatsapp account of The South Indian Plate for placing order." class="place_order" rel="nofollow"
          >Place An Order</a
        >
        <span class="min_order">Minimum Order 100 pieces</span>
      </div>

      <img
        src="{% static 'img/blob_plate.svg' %}"
        alt="A blob like plate beneath the Idli, Medu vada and Dal Vada."
        class="blob"
      />

      <!-- SLIDESHOW ************************************************** -->
      <div class="slideshow-container idli">
        <div class="mySlides fade">
          <img
            src="{% static 'img/idli_new.webp' %}"
            alt="Delicious idlis from The South Indian Plate. "
            class="img1 slide_img"
          />
        </div>

        <div class="mySlides fade">
          <img
            src="{% static 'img/mehduvada.webp' %}"
            alt="Authentic Medu vadas from The South Indian Plate."
            class="img2 slide_img"
          />
        </div>

      </div>

    </section>
    <!-- Content below hero -->
    <section class="below_hero">
      <h2 class="below-hero-heading">Perfect Catering Solution : Bulk Idli & Medu Vada for Events and Parties</h2>
      <div class="below_hero_wrapper">
        <p class="below_hero_para">
          The South Indian Plate is well recognized as the best Idli and Medu Vada bulk suppliers in Mumbai. Our specialty is preparing Idli and Medu Vada that go along with any of your occasion. We are the best choice if you are looking for bulk orders near Khar, Santacruz or Bandra in Mumbai. The quality, authenticity, & flavor at a reasonable price that we provide are unmatched. 
        </p>
      </div>
    </section>
    <!-- HOW TO ORDER SECTION ********************************************************** -->
    <section class="how_to_order" id="how-to-order">
      <h2 class="how_to_heading">How to Place Bulk Orders for Idli & Medu Vada in Mumbai</h2>
      <div class="order_process_wrapper">
        <div class="order_process">
          <h3 class="process_heading">Place Your Order</h3>
          <p class="process_para">
            Order us 24 hours before as we have to make the batter for the
            order. click on the place order button to Order..
          </p>
        </div>

        <div class="order_process">
          <h3 class="process_heading">Online payment</h3>
          <p class="process_para">
            pay 100% amount in advance online at the time of Order. We don't
            offer cash on delivery.
          </p>
        </div>

        <div class="order_process">
          <h3 class="process_heading">Your Order is Placed</h3>
          <p class="process_para">
            You will get a message confirming the order. We will deliver the order at a given time.
          </p>
          </p>
        </div>

        <div class="order_process last_process">
          <h3 class="process_heading">Cancellation policy</h3>
          <p class="process_para">
            Cancellation leads to Food Wastage, there will be no refund after payment, So think and order.
          </p>
        </div>
      </div>
      <h2 class="our_Menu_head_index">Order Homemade Authentic Idli & Medu Vada in Mumbai</h2>
    </section>
    <!-- IDLI SECTION ***************************************************************** -->
    <section class="idli_section" id="idli">
      <div class="half_idli">
        
        <p class="idli_content_heading">
          Our traditionally steamed, fluffy, and soft idlis are the perfect
          breakfast option for all your occasions. Serve it to your guests or
          enjoy it yourself!!
        </p>
       
          <div class="hun_pieces price_box">
            <p class="hun_pieces_para tablet_font">Idli, sambhar & chutney</p>
            <a href="https://wa.me/+918108672615" class="idli_anchor tablet_font" title="Whatsapp account of The South Indian PLate for placing bulk Idli order in Mumbai." rel="nofollow"
              >Place Your Order</a
            >
          </div>
        
      </div>

      <div class="right_half_idli">
        <div class="idli_picture"></div>
        <img
          src="{% static 'img/idli_new.webp' %}"
          alt="Authentic and traditionally steamed fluffy idlis bulk order."
        />
      </div>
    </section>
    <!-- MEDUVADA SECTION ************************************************************* -->
    <section class="wada_section" id="vada">
      <div class="half_wada">
        <div class="vada_picture"></div>
        <img
          src="{% static 'img/mehduvada.webp' %}"
          alt="Delicious and crunchy Medu vadas bulk order."
        />
      </div>

      <div class="right_half_wada">
        <p class="wada_content_heading">
          Our traditionally fried, crispy, and savory medu vadas are the perfect
          snack for any occasion. Serve it to your guests or enjoy it yourself!!
        </p>
        
          <div class="hun_pieces_wada price_box">
            <p class="hun_wada_para tablet_font">
              Mehduwada, sambhar & chutney
            </p>
            
            <a href="https://wa.me/+918108672615" class="wada_anchor tablet_font" title="Whatsapp account of The South Indian PLate for placing bulk Medu Vada order in Mumbai." rel="nofollow"
              >Place Your Order</a
            >
          
          
        </div>
      </div>
    </section>
    <!-- WHY US SECTION ************************************************************** -->
    <section class="why_us" id="why-order-from-us">
      <h2 class="why_heading">Why Choose The South Indian Plate for Bulk Orders in Khar, Santacruz, Bandra?</h2>
     
      <div class="Why_ans_wrapper">
        <div class="why_ans">
          <div class="why_logo">
            <img
              src="{% static 'img/easy_order.svg' %}"
              alt="An icon showing it's easy to order Idli and Medu Vada from The South Indian Plate."
            />
          </div>
          <h3 class="why_ans_head">Easy to order</h3>
          <p class="why_ans_para">
            Order Us On Call Or Whatsapp Us With Your Desire Order We Will Get
            Back To you in No Time.
          </p>
        </div>

        <div class="why_ans">
          <div class="why_logo">
            <img
              src="{% static 'img/quality_product.svg' %}"
              alt="An icon showing the quality and authenticity of Idli and Medu Vada from The South Indian Plate."
            />
          </div>
          <h3 class="why_ans_head">Premium Quality</h3>
          <p class="why_ans_para">
            Dishes cooked by our chef with fresh ingredients. Top-notch taste
            describes the quality.
          </p>
        </div>

        <div class="why_ans">
          <div class="why_logo">
            <img
              src="{% static 'img/fast_delivery.svg' %}"
              alt="An icon depicting the fastest home delivery of Idli and Medu Vada from The South Indian Plate."
            />
          </div>
          <h3 class="why_ans_head">Fastest Delivery</h3>
          <p class="why_ans_para">
            We have the fastest delivery system. You Just Have To Order, Your
            meals will be quickly Delivered at your Home.
          </p>
        </div>
      </div>
    </section>
    <!-- ABOUT US SECTION ************************************************************ -->
    <section class="about_us" id="vision-behind-the-creation">
      <div class="half_about" role="img" aria-label="logo only plate part.">
        <h2 class="about_heading">The South Indian Plate : Ethos and vision</h2>
      </div>
      <div class="ethos_and_vision">
        <p class="our_ethos common_vision">
          A plate full of healthy & hygenic food, prepared with traditional taste and serve with love and care not only satisfy the appetite but also brings contentment to the heart. This ethos is behind the selection of the name
          <span class="name">THE SOUTH INDIAN PLATE.</span>
        </p>
        <p class="our_vision common_vision">
          Our vision is to offer you the traditional South Indian Breakfast - Idli and Meduvada at affordable price with premium quality. Enjoy the taste and our service!!
        </p>
      </div>
    </section>

     <!-- FAQ SECTION ************************************** -->
     <section class="faq_main_container">
      <div class="faq_wrappers">
        <div class="faq_container">
          <div class="faq_question">
            <div class="faq_question-text">
              <h3>
                What Makes Your Idli and Medu Vada the Best in Mumbai?
              </h3>
            </div>
            <div class="icon">
              <div class="icon-shape"></div>
            </div>
          </div>
          <div class="answercont">
            <div class="answer">
              <p>
                We are the best Idli and Medu Vada suppliers that offers authentic South Indian breakfast in Khar, Santacruz and Bandra in Mumbai. Our fluffy Idlis, and crispy Meduvadas, delicious coconut Chutney and Sambhar are the talk of the town. If you are pure vegetarian then you have got your perfect place to order. Some of the important reason why we are unique :-
                <br>1. Authenticity - Our dish has authentic South Indian flavor. We prepare it in a traditional way so that the authenticity maintains.
                <br>2. Flavor - Our Idlis are big in size and soft, Meduvada is crispy and scrumptious, Chutney and Sambhar is cherry on the cake. The flavor you would never want to miss.
                <br> 3. Hygienic - We prepare these breakfast for you in home like environment. A food that makes you healthy along with the taste is our uniqueness.
                Organic Ingredients - We only use fresh and natural ingredients to prepare Idli, Meduvada, Sambhar, and Chutney for you. 
              
                </p>
              </p>
            </div>
          </div>
        </div>
        <div class="faq_container">
          <div class="faq_question">
            <div class="faq_question-text">
              <h3>What is Idli?</h3>
            </div>
            <div class="icon">
              <div class="icon-shape"></div>
            </div>
          </div>
          <div class="answercont">
            <div class="answer">
              <p>
                Idli is a popular South Indian delicacy that is served as a staple breakfast item in South Indian households. It is loved for its light, fluffy texture & subtle delicious taste. Traditionally it is made from a fermented batter of rice and urad dal and served with sambar and coconut chutney. This dish is cherished not only for its simplicity and ease of digestion but also for being a healthy, gluten-free option rich in protein and carbohydrates.<br>We maintain the authenticity of this traditional cuisine by preparing them using a traditional recipe that’s been perfected over time. Enjoy our fluffy idlis with delicious sambhar and chutneys!! </p>
            </div>
          </div>
        </div>
        <div class="faq_container">
          <div class="faq_question">
            <div class="faq_question-text">
              <h3> What is Medu Vada?</h3>
            </div>
            <div class="icon">
              <div class="icon-shape"></div>
            </div>
          </div>
          <div class="answercont">
            <div class="answer">
              <p>
                Meduvada is a traditional South Indian doughnut-shaped snack. It is also known as Urad Dal Vada. The crispy exterior and soft, fluffy interior is for what meduvada cherished. It is made from a batter of urad dal (black gram), which is soaked, ground, and seasoned with spices like cumin, black pepper, and curry leaves. This batter is then carved into doughnut shape and then deep-fried to get a golden and crispy exterior. Meduvada is often enjoyed as a breakfast item or snack and typically served with coconut chutney and sambar. <br>We use the traditional techniques and recipe to serve you the authentic crispy Meduvadas. Order and enjoy our crunchy Meduvadas with delicious coconut chutney!!
              </p>
            </div>
          </div>
        </div>
        <div class="faq_container">
          <div class="faq_question">
            <div class="faq_question-text">
              <h3>How to contact The South Indian Plate for bulk or large orders?</h3>
            </div>
            <div class="icon">
              <div class="icon-shape"></div>
            </div>
          </div>
          <div class="answercont">
            <div class="answer">
              <p>
                We are a cloud kitchen based south Indian breakfast delivery restaurant located in Khar West in Mumbai. To place your bulk or party or large orders contact us on our Whatsapp number +918108672615.
              </p>
            </div>
          </div>
        </div>
        <div class="faq_container">
          <div class="faq_question">
            <div class="faq_question-text">
              <h3>Where does The South Indian Plate deliver idli and medu vada in wholesale?</h3>
            </div>
            <div class="icon">
              <div class="icon-shape"></div>
            </div>
          </div>
          <div class="answercont">
            <div class="answer">
              <p>
                We serve Idli and Meduvada in Mumbai, specially in Khar, Bandra and Santacruz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- BANNER ********************************************************************** -->
    <section class="banner">
      <div
        class="banner_text_wrapper"
        role="img"
        aria-label="A banner with idli and Medu Vada plate."
      >
        <p class="premium">Premium Quality</p>
        <h2 class="banner_heading">Your plate, our breakfast</h2>
        <p class="banner_para">
          Offer yourself & your guest a plate full of love and taste.
        </p>
        <a href="https://wa.me/+918108672615" class="banner_anchor" title="Whatsapp account of The South Indian Plate for placing bulk Idli and Medu Vada party order.">Place Order</a>
      </div>
    </section>
   
    {% include 'includes/footer.html' %}
   

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "flex";
        setTimeout(showSlides, 2000);
      }
    </script>
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
