<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best South Indian Restaurant In khar, Santacruz and Bandra West</title>
    <meta
      name="description"
      content="The South Indian Plate - Menu. Place your Idli, Meduvada and Dal Vada plate and bulk order...bulk order starting at - ₹7/- and plate order at - ₹95/-  order now!!"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- FAVICONS ******************************************* -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/idli.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="canonical" href="https://thesouthindianplate.com/menu-page" />

    <!-- **************OG PROTOCOL**************************** -->
    <meta prefix="og: https://.me/ns#" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Best South Indian Restaurant In khar, Santacruz and Bandra West"
    />
    <meta
      property="og:description"
      content="The South Indian Plate - Menu. Place your Idli, Meduvada and Dal Vada plate and bulk order...bulk order starting at - ₹7/- and plate order at - ₹95/-  order now!! "
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta
      property="og:image:alt"
      content="The South Indian Plate special breakfast plate."
    />
    <meta property="og:url" content="https://thesouthindianplate.com/menu-page" />
    <meta property="og:site_name" content="The South Indian Plate" />
    <meta
      property="og:image"
      content="https://thesouthindianplate.com/static/img/hor_banner.webp"
    />

    <!-- crawl -->
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    {% include 'includes/header.html' %}
    <!-- OUR MENU ********************************************************************** -->
    <section class="menu_page">
      
      <h1 class="menu_head">Menu of the Best South Indian Delivery Restaurant</h1>
      <img src="{% static 'img/menu_leaf.webp' %}" alt="South Indian breakfast on the banana leaf - the South Indian Plate." class="menu_page_img">
    
    </section>
    <section class="section_menu_order">
      <!-- idli bulk and plate order -->
        <div class="menu">
          <div class="menu_wrapper">
             <h2 class="menu_order_head">1. Idli Plate and Bulk Order</h2>
             <div class="idli_menu_wrapper">
             <img class="menu_img idli_bulk_img" src="{% static 'img/menu_card/menu2.webp' %}" alt="Best mini and medium size idli bulk order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate">
             <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu3.webp' %}" alt="Best large size idli bulk order and Sambhar and Chutney order in Khar West, Santacruz West and Bandra West in Mumbai menu image - THe South Indian Plate">
             <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu6.webp' %}" alt="Best small size idli plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
             <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu7.webp' %}" alt="Best masala idli plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
             <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu8.webp' %}" alt="Best medium size idli plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
             <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu9.webp' %}" alt="Best large size idli plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
            </div>
             <a href="https://wa.me/+918108672615" rel="nofollow"  title="Whatsapp number link to take order." class="menu_order">Place Your Order</a>
        </div>
        </div>
        <!-- menuwada bulk -->
        <div class="menu">
          <div class="menu_wrapper">
             <h2 class="menu_order_head">2. Meduvada Plate and Bulk Order</h2>
             
             <div class="idli_menu_wrapper">
              <img class="menu_img idli_bulk_img" src="{% static 'img/menu_card/menu4.webp' %}" alt="Best round and donut shape Meduvada bulk order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
              <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu10.webp' %}" alt="Best round shape Meduvada plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
              <img class="menu_img idli_bulk_img"src="{% static 'img/menu_card/menu11.webp' %}" alt="Best donut shape Meduvada plate order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
             
             </div>
             <a href="https://wa.me/+918108672615"  rel="nofollow"  title="Whatsapp number link to take order." class="menu_order">Place Your Order</a>
        </div>
        </div>
        <!-- dalvada bulk and plate order -->
        <div class="menu">
          <div class="menu_wrapper">
             <h2 class="menu_order_head">3. Dal vada Plate and Bulk Order</h2>
             
             <img class="menu_img"src="{% static 'img/menu_card/menu5.webp' %}" alt="Best medium size Dal Vada plate and bulk order in Khar West, Santacruz West and Bandra West in Mumbai menu image - The South Indian Plate.">
             <a href="https://wa.me/+918108672615"  rel="nofollow"  title="Whatsapp number link to take order." class="menu_order">Place Your Order</a>
        </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}
     
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    </body>
  </html>
  </body>
</html>
