<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO********************************* -->
    <title>Terms And Conditions </title>
    <meta
      name="description"
      content="The South Indian Plate - Terms and Conditions."
    />
    <!-- FAVICONS ******************************************* -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tnc_privacy.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="canonical"
      href="https://thesouthindianplate.com/terms-and-conditions"
    />

    <!-- **************OG PROTOCOL**************************** -->
    <meta prefix="og: https://.me/ns#" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Terms And Conditions "
    />
    <meta
      property="og:description"
      content="The South Indian Plate - Terms and Conditions. "
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta
      property="og:image:alt"
      content="The South Indian Plate special breakfast plate."
    />
    <meta property="og:url" content="https://thesouthindianplate.com/terms-and-conditions" />
    <meta property="og:site_name" content="The South Indian Plate" />
    <meta
      property="og:image"
      content="https://thesouthindianplate.com/static/img/hor_banner.webp"
    />

    <!-- crawl -->
    <meta name="robots" content="index, follow" />
  </head>
  <body>

    <nav id="nav" class="nav">
      <div class="nav_ul">
        <a href="{% url 'home' %}" class="logo nav_link">
          <img
            src="{% static 'img/logo.svg' %}"
            alt="Social logo of The South Indian Plate."
          />
        </a>
        <ul class="link">
          <li class="nav_li">
            <a class="nav_link" href="{% url 'home' %}">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- MOBILE LOGO ****************************************************************** -->
    <div class="logo_container">
      <a href="{% url 'home' %}" class="mobile_logo" 
        ><img
          src="{% static 'img/logo.svg' %}"
          alt="Mob version social logo of The South Indian Plate."
      /></a>
    </div>
    <!-- BURGER MENU ******************************************************************* -->
    <div id="burger" class="burger">
      <i class="ri-menu-5-fill"></i>
    </div>
    <!-- MOBILE VIEW LINK ************************************************************* -->
    <div class="nav" id="nav_mob">
      <div class="link2">
        <li class="nav_li"><a class="nav_link" href="{% url 'home' %}">Home</a></li>
      </div>
    </div>
    <!-- SOCIAL MEDIA ICONS *************************************** -->
    <div class="social_media_icons">
      <a href="{% static 'img/menu.jpg' %}" download class="menu_card_download" title="Menu Card of The South Indian Plate">
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    
        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
        <svg
          version="1.1"
          id="Icons"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 32 32"
          xml:space="preserve"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
    
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
    
          <g id="SVGRepo_iconCarrier">
            <style type="text/css">
              .st0 {
                fill: none;
                stroke: orangered;
                stroke-width: 1.5;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
              }
            </style>
            <path
              class="st0"
              d="M8,9h15c0.6,0,1,0.4,1,1v18c0,0.6-0.4,1-1,1H9c-0.6,0-1-0.4-1-1V9l11.6-5.3C20.2,3.3,21,3.8,21,4.6V9"
            />
            <path
              class="st0"
              d="M17.1,29l-0.4-3.3c-0.1-1.3,0.3-2.6,1.2-3.5c0.7-0.7,1.1-2,1.1-3.7V13"
            />
            <path
              class="st0"
              d="M13,13v5.5c0,1.7,0.4,2.9,1.1,3.7c0.9,1,1.3,2.2,1.2,3.5L14.9,29"
            />
            <line class="st0" x1="16" y1="19" x2="16" y2="13" />
          </g>
        </svg>
      </a>
      <a class="whatsapp" href="https://wa.me/+918108672615" rel="nofollow" title="A link for contacting The South Indian Plate via Whatsapp number."><i class="ri-whatsapp-line"></i></a>
      <a class="call" href="tel:+918108672615" rel="nofollow" title="A link for calling The South Indian Plate via mobile number."><i class="ri-phone-fill"></i></a>
     </div>

    <!-- TERMS AND CONDITIONS -->
    <section class="tnc">
      <div class="tnc_wrapper">
        <div class="tnc_head_wrapper">
          <h1 class="tnc_head">Terms And Conditions</h1>
          <p class="tnc_para_head">
            By placing an order or accessing the website of The South Indian
            Plate ('Virtual Restaurant') you agree to comply with the following
            terms and conditions. It is your responsibility to be aware of the
            terms and conditions before placing an order or accessing The South
            Indian Plate (<a
              class="our_site"
              href="{% url 'home' %}" title="A link returning back to home page"
              >www.thesouthindianplate.com</a
            >).
          </p>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">GENERAL TERMS AND CONDITIONS</h2>
          <div class="tnc_points_para">
            In the terms and conditions, the reference of the term 'Website'
            shall mean The South Indian Plate website, 'you', 'your', or 'user'
            shall mean the person accessing or browsing the website, its
            contents and using the services offered by The South Indian Plate,
            and 'we', 'us', or 'our' means The South Indian Plate (<a
              class="our_site"
              href="{% url 'home' %}" title="A link returning back to home page"
              >www.thesouthindianplate.com</a
            >).
            <span
              >We reserve all rights to revise and modify our ‘Terms &
              Conditions’, URL name and other changes without any prior notice,
              at any time. Your continued use of website after the changes shall
              mean that you agree to the changes.</span
            >
            <span
              >We have sole ownership on all the materials that have been posted
              and present on the website , such as logo, website design, UI/UX
              design, content, reviews, layout, product details etc. The entire
              data on the website is protected under copyright and intellectual
              property laws. No one is allowed to copy, use, transfer, modify,
              exploit and distribute our property for commercial or
              non-commercial purposes.</span
            >
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">USER CONDUCT</h2>
          <div class="tnc_points_para">
            You are restricted to transmit, post, display or modify any content
            on our website that is harassing, unlawful, defamatory, obscene,
            pornographic, defamatory or any material, which may encourage
            misconduct or categorized as unlawful conduct will be considered a
            criminal offense from your end.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">PRODUCT INFORMATION</h2>
          <div class="tnc_points_para">
            We strive to provide accurate descriptions and images of our food
            products. However, slight variations may occur due to ingredient
            availability and preparation methods. So, we don't guarantee or
            warrantee that the product information is 100% accurate and error
            free.
            <span
              >The images of dishes shown on the website are only indicative in
              nature. The real dish that we will deliver you may vary in size,
              packaging or color.</span
            >
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">PRICES</h2>
          <div class="tnc_points_para">
            The prices of the product mentioned on the website is exclusive of
            taxes and delivery charges. These prices are liable to change
            anytime without a prior notice to you.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">ORDERS AND PAYMENTS</h2>
          <div class="tnc_points_para">
            We only accept online payment through Visa and Master Card
            credit/debit cards in Indian Rupees. Payments must be made in full
            at the time of ordering.
            <span
              >We reserve the right to refuse or cancel any order at our
              discretion.</span
            >
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">ORDER PLACEMENT BY MINOR</h2>
          <div class="tnc_points_para">
            If any person below 18 years age order any dish and make payment,
            then that person or his/her parents will be liable for it. We won't
            refund in this case.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">DELIVERY</h2>
          <div class="tnc_points_para">
            We deliver your order after two days of your order placement. The
            time of the delivery may vary depending on location and order
            volume.
            <span
              >If you want to pickup, please arrive at the scheduled time. We
              are not responsible for delays in pickup.</span
            >
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">CANCELLATION AND REFUNDS</h2>
          <div class="tnc_points_para">
            As cancellation leads to food wastage, we don't refund after 60s of
            the placement of your order and the cancelation itself will not be
            accepted.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">ALLERGIES AND DIETARY REQUIREMENTS</h2>
          <div class="tnc_points_para">
            While we take great care in food preparation, we cannot guarantee
            that our products are free from allergens. Please inform us of any
            dietary restrictions or allergies when placing your order.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">LIABILITY</h2>
          <div class="tnc_points_para">
            We are not liable for any direct or indirect loss or damage
            resulting from the use of our website or consumption of our
            products. In case of any issues with your order, please contact us
            immediately so we can address the situation.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">PRIVACY POLICY</h2>
          <div class="tnc_points_para">
            We value your privacy and will only collect and use your personal
            information in accordance with our Privacy Policy. Please review our
            Privacy Policy for more details.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">GOVERNING LAW</h2>
          <div class="tnc_points_para">
            These terms and conditions are governed by and construed in
            accordance with the laws of Government Of India. Any disputes
            arising out of or related to these terms will be subject to the
            exclusive jurisdiction of the courts of Mumbai.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">BREACH OF TERMS AND CONDITIONS</h2>
          <div class="tnc_points_para">
            You will be responsible for not following the terms and conditions
            mentioned on the page.
          </div>
        </div>
        <div class="tnc_points_wrapper">
          <h2 class="tnc_points_head">CONTACT INFORMATION</h2>
          <div class="tnc_points_para">
            For any questions or concerns regarding these terms and conditions,
            please contact us at
            <a class="our_site" href="{% url 'home' %}" title="A link returning back to home page"
              >thesouthindianplate@gmail.com.</a
            >
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer_top">
        <a href="{% url 'home' %}"
          ><img
            src="{% static 'img/logo.svg' %}"
            alt="Social logo of The South Indian Plate in top of the footer section to navigate to index page."
        /></a>
      </div>
      <div class="footer_middle">
        <nav class="footer_middle_nav">
          <h3 class="ul_head">Contact Us</h3>
          <ul class="footer_unorder_list">
            <li>
              <a href="https://g.co/kgs/NKmwqDK">
               Location: 21st Road Khar West, Mumbai:400052
              </a>
            </li>
            <li><a href="tel:+918108672615" rel="nofollow" title="The South Indian Plate contact phone number.">PhoneNo: +918108672615</a></li>
            <li>
              <a href="mailto:thesouthindianplate@gmail.com" rel="nofollow" title="The South Indian Plate contact email id."
                >Email: thesouthindianplate@gmail.com</a
              >
            </li>
          </ul>
        </nav>
        <nav class="footer_middle_nav">
          <h3 class="ul_head">Page Links</h3>
          <ul class="footer_unorder_list">
            <li>
              <a href="{% url 'home' %}" title="Step to order south Indian breakfast from The South Indian Plate.">Home</a>
            </li>
        </nav>
        <nav class="footer_middle_nav">
          <h3 class="ul_head">Social Links</h3>
          <ul class="footer_unorder_list">
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/thesouthindianplate/" title="Instagarm profile page link of The South Indian Plate." rel="noopener"
                >Instagram</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/@thesouthindianplate"  title="Youtube profile page link of The South Indian Plate." rel="noopener"
                >Youtube</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/company/the-south-indian-plate"  title="Linkedin profile page link of The South Indian Plate." rel="noopener"
                >Linkedin</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/thesouthindianplate/"  title="Facebook profile page link of The South Indian Plate." rel="noopener"
                >Facebook</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <ul class="footer_bottom">
        <li>
          <p>
            Copyright © 2024
            <span style="color: #4CAF50">The South Indian Plate</span>
          </p>
        </li>
        <li>
          <a href="{% url 'privacy_policy' %}" target="_blank" title="Privacy policy page of The South Indian Plate">Privacy Policy</a>
        </li>
        <li>
          <a href="{% url 'terms_and_conditions' %}" target="_blank" title="Terms and Conditions page of The South Indian Plate"
            >Terms & Conditions</a
          >
        </li>
      </ul>
    </footer>

    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
