.idli_hero_section {
  background-color: #080708;
  height: 100vh;
  width: 100%;
}

.idli_hero_section_wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idli_hero_section_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.idli_hero_section_title {
  width: 100%;
  font-size: 3.6vw;
  text-transform: capitalize;
  margin-bottom: 1vw;
  color: #feefe7;
  padding-top: 3vw;
  margin-bottom: 2vw;
}

.medu_head {font-size: 3.6vw;}
.idli_hero_section_title span {
  color: #4CAF50;
  display: block;
}
.idli_hero_section_para {
  width: 18.5vw;
  font-size: 1.4vw;
  color: #feefe7;
  text-align: center;
  margin-top: 0.5vw;
}

.idli_hero_section_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clip_img {
  width: 30vw;
  height: 30vw;
  display: block;
  margin-top: 5vw;
  position: relative;
  z-index: 10;
}

.idli_hero_section_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  animation: scaleImg 3s infinite;
}
@keyframes scaleImg{
  0%{transform:scale(1) translateY(0)}
  50%{transform:scale(1.05) translateY(-0.5vw)}
  100%{transform:scale(1) translateY(0)}
}

.meduvada_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meduvada_page img {
  width: 80%;
  height: 80%;
}

.clip_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #4CAF50;
  z-index: -1;
}

/* IDLI SECTION DESC */
.idli_section_desc {
  background-image: url(../img/black_bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6vw 1vw;
}

.idli_section_desc_title {
  font-size: 2.6vw;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1vw;
  text-align: center;
  color: #4CAF50;
}

.idli_section_desc_para {
  font-size: 1.8vw;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #feefe7;
}

/* Idli order Section */
.idli_order_section {
  background-color: #feefe7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8vw 0;
}

.place_order_heading {
  width: 80%;
  margin: 0 auto;
  font-size: 2.6vw;
  color: #4CAF50;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 3vw;
}
.meduvada_order_redirect {
  display: block;
  width: 30vw;
  padding: 1.5vw 3vw;
  background-color: #4CAF50;
  font-size: 1.6vw;
  font-weight: 700;
  color: #080708;
  border-radius: 1vw;
  text-decoration: none;
  text-align: center;
  margin: 3vw auto;
  transition: 0.5s all;
}

.meduvada_order_redirect:hover {
  color: #080708;
  background-color: #feefe7;
  transform: scale(1.01) translateY(0.2vw);
}


.order_idli_wrapper {
  border-radius: 2vw;
  width: 80%;
  margin: 0 auto;
  background-color: #080708;
  transition: 1s;
  padding: 5vw;
  background-image: linear-gradient(
      to right,
      rgba(8, 7, 8, 0.87),
      rgba(8, 7, 8, 0.87)
    ),
    url(../img/idli_new.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.order_dalvada_wrapper{
  background-image: linear-gradient(
      to right,
      rgba(8, 7, 8, 0.8),
      rgba(8, 7, 8, 0.8)
    ),
    url(../img/pngegg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.order_idli_wrapper:hover {
  transform: scale(1.05) translateY(-0.4vw);
}
.order_idli_heading {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 2.3vw;
  color: #4CAF50;
  margin-bottom: 1.8vw;
  text-transform: capitalize;
}
.order_idli_para {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8vw;
  color: #feefe7;
  margin-bottom: 4vw;
}
.place_idli_order {
  display: block;
  width: 30vw;
  padding: 1.5vw 3vw;
  background-color: #4CAF50;
  font-size: 1.6vw;
  font-weight: 700;
  color: #080708;
  border-radius: 1vw;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  transition: 0.5s all;
}
.place_idli_order:hover {
  color: #080708;
  background-color: #feefe7;
  transform: scale(1.01) translateY(0.2vw);
}

/* -- section speciality  and Why us -- */
.section_why_idli_from_us {
  padding: 6vw 0;
  width: 100%;
  background-color: #080708;
  margin-bottom: 8vw;
}
.our_idli_speciality {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8vw;
}
.idli_speciality_head {
  text-align: center;
  color: #4CAF50;
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 2.5vw;
}
.idli_speciality_para {
  text-align: center;
  font-size: 1.6vw;
  color: #feefe7;
  line-height: 1.4;
  letter-spacing: 0.05vw;
}
.why_order_idli_from_us {
  width: 80%;
  margin: 0 auto;
}
.why_idli_head {
  text-align: center;
  color: #4CAF50;
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 2.5vw;
}
.why_idli_para {
  text-align: center;
  font-size: 1.6vw;
  color: #feefe7;
  line-height: 1.4;
  letter-spacing: 0.05vw;
  margin-bottom: 3vw;
}
.why_idli_points {
  list-style-type: decimal;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vw;
}

.idli_point {
  font-size: 1.5vw;
  color: #feefe7;
}
.idli_point span {
  color: #4CAF50;
}
.why_idli_points .idli_point::marker {
  color: #4CAF50;
}

/* IDLI DESCRIPTION SECTION*************************************** */

.about_idli {
  width: 100%;
  padding-top: 8vw;
  background-image: url(../img/black_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}
.about_idli_heading {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #4CAF50;
  font-size: 2.4vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: capitalize;
}
.about_idli_heading:before {
  width: 64%;
  height: 0.25vw;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #4CAF50;
}
.about_idli_wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
  margin-top: 6vw;
  padding-bottom: 10vw;
}
.left_about_idli {
  width: 32vw;
  height: 30vw;
  border-radius: 1vw;
  border: 2px solid #feefe7;
  overflow: hidden;
  transition: 0.5s;
}
.left_about_idli img {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  transition: 0.5s;
}
.left_about_idli:hover .about_idli_img {
  transform: scale(1.1);
}
.right_about_idli {
  width: 55%;
  /* height: 80vh; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3.5vw;
}
.about_idli_para {
  width: 100%;
  font-size: 1.6vw;
  font-weight: 500;
  color: #feefe7;
  letter-spacing: 0.05vw;
}
.about_idli_scnd_para {
  width: 100%;
  font-size: 1.6vw;
  font-weight: 500;
  color: #feefe7;
  letter-spacing: 0.05vw;
}

/* Party Order************************************************************************ */
.idli_part_order {
  padding-top: 8vw;
  padding-bottom: 8vw;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.idli_party_text_wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 6vw 2vw;
  border-radius: 1.5vw;
  /* height: 34vw; */
  background-image: linear-gradient(
      to right,
      rgba(8, 7, 8, 0.87),
      rgba(8, 7, 8, 0.87)
    ),
    url(../img/idli_new.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.idli_premium {
  position: absolute;
  width: 35vw;
  text-align: center;
  padding: 0.8vw;
  font-size: 1.7vw;
  font-weight: 600;
  letter-spacing: 0.01vw;
  top: 5vw;
  right: -12vw;
  background-color: #4CAF50;
  color: #080708;
  transform: rotate(52deg);
}
.idli_party_heading {
  font-size: 2.6vw;
  letter-spacing: 0.1vw;
  color: #4CAF50;
  margin-bottom: 1.5vw;
  text-transform: uppercase;
}
.idli_party_para {
  width: 80%;
  font-size: 1.7vw;
  letter-spacing: 0.01vw;
  color: #feefe7;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 2vw;
}
.idli_party_anchor {
  text-decoration: none;
  padding: 1.5vw 3vw;
  width: 22vw;
  color: #080708;
  background-color: #4CAF50;
  border-radius: 1vw;
  font-size: 1.4vw;
  letter-spacing: 0.01vw;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #feefe7;
}

.idli_party_anchor:hover {
  scale: 1.05;
  color: #feefe7;
  background-color: #080708;
}

/* F.A.Q SECTION */
/* >>> FAQ STYLES <<< */

.faq_main_container {
  width: 80%;
  color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2vw; */
  margin-bottom: 4vw;
  margin-top: 8vw;
}


.faq_wrappers {
  width: 100%;
  background-color: #080708;
  border-radius: 2vw;
}

.faq_container {
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.faq_container:last-child
{
  /* border: none; */
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.faq_question {
  font-size: 1vw;
  font-weight: lighter;
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 4vw;
  padding-right: 2vw;
  color: #feefe7;
  font-weight: 700;
}

.faq_container .active {
  background-color: #545454;
}

.faq_container:first-child .active {
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 10px 20px;
  line-height: 1.5rem;
 
}

.answer p {
  font-size: 1.2vw;
  width: 85%;
  color: #feefe7;
  padding-left: 3.5vw;
  padding-top: 1.5vw;
}



.fqa_headline_container h2 span {
  font-weight: 500;
}

.faq_question-text h3 {
  font-size: 1.4vw;
  font-weight: lighter;
}

.icon.active {
  background: #feefe7;
}

.icon:hover {
  cursor: pointer;
}

.icon-shape {
  position: relative;
  width: 50px;
  height: 50px;
}

.icon-shape.active {background-color: transparent;}

.icon .icon-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 4px;
  background: #feefe7;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.icon .icon-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 20px;
  background: #feefe7;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.icon .icon-shape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}

.icon .icon-shape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}

/* F.A.Q SECTION */

/* How To Page Hero  */
.how_to_hero_section{
  height: 75vh;
  width: 100%;
  background-color: #080708;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #4CAF50;
}
.how_to_hero_heading{
  width: 55%;
  margin: 0 auto;
  text-align: center;
  color: #4CAF50;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2.8vw;
  padding-top: 3vw;
}
/* Meduwada Page Banner */
.Meduvada_page_banner{
  background-image: linear-gradient(
    to right,
    rgba(8, 7, 8, 0.87),
    rgba(8, 7, 8, 0.87)
  ),
  url(../img/mehduvada.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* dalvada party */
.dalvada_party{
  background-image: linear-gradient(
      to right,
      rgba(8, 7, 8, 0.8),
      rgba(8, 7, 8, 0.8)
    ),
    url(../img/pngegg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (max-width:1024px) {
  .idli_hero_section {
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .idli_hero_section_wrapper {
    flex-direction: column;
  }
  .idli_hero_section_right {
    order: 1;
  }
  .idli_hero_section_left {
    order: 2;
  }

  .clip_img {
    width: 40vw;
    height: 40vw;
  }

  .clip_img img{
    object-fit: cover;
    margin-left: -0.8vw;
  }


  .idli_hero_section_title {
    text-align: center;
  }

  .idli_hero_section_para {
    text-align: center;
    font-size: 3vw;
    margin: 0 auto;
    width: fit-content;
  }

  .about_idli_wrapper {
    justify-content: center;
    align-items: center;
  }

  .idli_section_desc_title {
    font-size: 3vw;
  }

  .idli_section_desc_para {
    font-size: 2.2vw;
  }

  .place_order_heading  {
    font-size: 4vw;
  }

  .order_idli_heading  {
    font-size: 3vw;
  }

  .order_idli_para  {
    font-size: 2.2vw;
  }

  .meduvada_order_redirect {
    font-size: 2.3vw;
  }

  .place_idli_order {
    font-size: 2.3vw;
  }

  .why_order_idli_from_us {
    width: 85%;
  }

  .our_idli_speciality {width: 85%;}

  .idli_speciality_head,
  .why_idli_head {
    font-size: 4vw !important;
  }

  .idli_speciality_para,
  .why_idli_para,
  .idli_point {
    font-size: 2.2vw !important;
  }

  .about_idli_heading {
    font-size: 3vw;
  }

  .about_idli_heading:before {
    display: none;
  }

  .right_about_idli {width: 85%;}

  .about_idli_para,.about_idli_scnd_para {
    width: 85%;
    font-size: 2vw;
  }

  .faq_question-text h3 {
    font-size: 2vw;
  }

  .answer p {
    font-size: 2vw;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 768px) {
  .idli_section_desc_title {
    font-size: 4vw;
  }

  .idli_section_desc_para {
    font-size: 2.5vw;
    line-height: 1.6;
  }

  .order_idli_para {
    font-size: 2.5vw;
    line-height: 1.5;
  }

  .meduvada_order_redirect {
    font-size: 2.6vw;
  }

  .place_idli_order {
    font-size: 2.6vw;
  }

  .idli_speciality_para, .why_idli_para, .idli_point {
    font-size: 2.6vw !important;
    line-height: 1.6;
  }

  .about_idli_heading {font-size: 4vw;}

  .left_about_idli {
    width: 100%;
    height: 100%;
    border: none;
  }

  .about_idli_para, .about_idli_scnd_para {
    width: 100%;
    font-size: 3.5vw;

  }

  .idli_party_text_wrapper {
    width: 90%;
    height: auto;
    gap: 2vw;
  }

  .idli_party_heading {
    font-size: 3.2vw;
  }

  .idli_party_para {
    font-size: 2vw;
    line-height: 1.6;
  }

  .idli_party_anchor {
    font-size: 2.6vw;
    width: fit-content;
  }

  .faq_main_container {
    width: 90%;
  }

  .faq_question-text h3 {
    font-size: 2.6vw;
  }

  .answer p {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width:500px) {
  .idli_hero_section  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .idli_hero_section_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vw;
  }

  .idli_hero_section_right {
    width: 100%;
    justify-content: center;
    height: 80vw;
  }

  .clip_img {
    width: 85%;
    height: 100%;
  }

  .clip_img::before {
    width: 100% !important;
    height: 100% !important;
  }

  .idli_hero_section_left {
    width: 100%;
    height: fit-content;
  }

  .idli_hero_section_title {
    width: 100%;
    font-size: 8vw;
  } 

  .idli_hero_section_title span {
    width: 100%;
  }

  .idli_place_order {
    font-size: 6vw;
    width: 70%;
    text-align: center;
    padding: 3vw 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .idli_hero_section_para {
    font-size: 6vw;
  }

  .idli_section_desc_title {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .idli_section_desc_para {
    font-size: 4.5vw;
  }

  .place_order_heading {
    font-size: 6vw;
  }

  .order_idli_wrapper {
    width: 95%;
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .order_idli_heading {
    font-size: 6vw;
  }

  .right_about_idli {
    width: 90%;
  }

  .about_idli_heading {
    font-size: 6vw;
  }

  .about_idli_para {
    font-size: 4.5vw;
    width: 100%;
  }

  .about_idli_scnd_para {
    font-size: 4.5vw;
    width: 100%;
  }

  .order_idli_para {
    font-size: 4.5vw;
  }

  .meduvada_order_redirect {
    font-size: 4.5vw;
    width: 60vw;
  }
  .place_idli_order {
    font-size: 4.5vw;
    width: 60vw;
  }

  .idli_speciality_head, .why_idli_head {
    font-size: 6vw !important;
  }

  .idli_speciality_para, .why_idli_para, .idli_point {
    font-size: 4.5vw !important;
    line-height: 1.6;
}

.about_idli_wrapper {
  padding-bottom: 2vw;
}

.idli_party_heading {
  font-size: 6vw;
  width: 80%;
  text-align: center;
}

.idli_party_para {
  font-size: 4.5vw;
  width: 88%;
}

.idli_party_anchor {
  font-size: 4.5vw;
  padding: 2vw 6vw;
}

.idli_party_text_wrapper {
  width: 95%;
  padding: 15vw 0;
  gap: 3vw;
}

.idli_premium {
  width: 43vw;
  top: 8vw;
  font-size: 3vw;
}

.faq_main_container {
  width: 95%;
}

.faq_question-text {
  width: 80%;
}

.faq_question-text h3 {
  font-size: 4.5vw;
  line-height: 1.7;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.answer p {
  font-size: 3.5vw;
  padding-top: 5vw;
  line-height: 1.7;
}

.dalvada_right {
  width: 90vw !important;
height: 80vw !important;
}

}
