.tnc {
    background-image: url(../img/black_bg.webp);
    background-size: contain;
    background-repeat: repeat;
    color: #feefe7;
    width: 100%;
    padding-top: 12vw;
    padding-bottom: 8vw;
    outline: none;
    border: none;
}

.tnc_wrapper {
    width: 80%;
    margin: 0 auto;
}

.tnc_head_wrapper {
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.tnc_head {
    font-size: 3vw;
    color: #f85a11;
}

.tnc_para_head {
    font-size: 1.5vw;
    line-height: 1.5;
}

.tnc_points_wrapper {
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.tnc_points_head {
    font-size: 1.8vw;
}

.tnc_points_para {
    font-size: 1.5vw;
    line-height: 1.5;
}

.tnc_points_para span{
    display: block;
    padding-top: 1vw;
}

.our_site {
    font-size: 1.5vw;
    color: #f85a11;
    text-decoration: none;
}

#footer {
    margin-top: 0;
}

@media only screen and (max-width: 1024px) {

    .tnc_head {
        font-size: 3.5vw;
    }

    .tnc_para_head {
        font-size: 2vw;
        line-height: 1.6;
    }

    .tnc_points_head {
        font-size: 2.3vw;
    }

    .tnc_points_para {
        font-size: 2vw;
    }

    .our_site {
        font-size: 2vw;
    }
}

@media only screen and (max-width:768px) {
    .tnc {
        padding-top: 20vw;
    }

    .tnc_head {
        font-size: 4vw;
    }

    .tnc_para_head {
        font-size: 2.5vw;
        line-height: 1.6;
    }

    .tnc_points_head {
        font-size: 3vw;
    }

    .tnc_points_para {
        font-size: 2.5vw;
        line-height: 1.6;
    }

    .our_site {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 500px) {
    .tnc_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-top: 3vw;
        gap: 5vw;
    }

    .tnc_head_wrapper {
        gap: 5vw;
    }

    .tnc_head {
        width: 100%;
        text-align: center;
        font-size: 5.5vw;
    }

    .tnc_para_head {
        font-size: 4vw;
    }

    .tnc_points_wrapper {
        gap: 5vw;
    }

    .tnc_points_head {
        width: 100%;
        font-size: 4.5vw;
        text-align: center;
    }

    .tnc_points_para {
        font-size: 4vw;
    }

    .our_site {
        font-size: 4.5vw;
    }
}